[2021-11-12 10:19] ford--prefect opened #1 "Create cache folder with correct permissions"
When first running, the folder ~/.cache/googleplay is created with 000 permissions, where it should be 775 (or similar).

[2021-11-12 10:20] ford--prefect opened #2 "Improve documentation"
From your readme the intended workflow is not immediately clear, e.g.:
- create token (bug #1)
- create device
- purchase app
- get download url by passing version (-a -v)

For the latter, it is not clear to me how to determine the correct version string. Maybe also add that to the doc.

[2021-11-12 13:17] 89z commented on #1
Im on Windows, so I dont really have to deal with that stuff. At any rate, I think this is fixed with https://github.com/89z/googleplay/commit/fc489298bfa64c8d8f6baa24a69f6711ca3dbd31 - if its still not working, let me know.

Thanks!

[2021-11-12 13:22] 89z commented on #2
This should be fixed with https://github.com/89z/googleplay/commit/7b10fc7d361745520a919dd5327e1afd7116b5a5 - if its still confusing let me know - I can try to improve it some more.

Thanks!

[2021-11-12 13:22] #2 closed

[2021-11-12 13:25] 89z commented on #2
Also https://github.com/89z/googleplay/commit/99540965a7b0dff6928ebc55e08fc37c4c33145a

[2021-11-12 13:28] 89z commented on #2
Also https://github.com/89z/googleplay/commit/9eb9df6ec9b0d6bd147d3c0a594280923c6eede7

[2021-11-12 13:30] 89z commented on #2
Also https://github.com/89z/googleplay/commit/1362e25cded89fbfe8e2330b2678f1e386f2c826 (hopefully last commit)

[2021-11-12 13:33] 89z commented on #2
Also https://github.com/89z/googleplay/commit/8e76545801cba38e1b01237b12e14e61b3479b64

[2021-11-13 01:09] HussamAlahmadi opened #3 "Some apps can't be downloaded"
Hi,

Thank you for your amazing  work.
However I found that some apps can't be downloaded as `com.infpro.infinityultraeditorpro`
as you can see below.
I'm not sure what went wrong
[code]

[2021-11-13 01:13] 89z commented on #3
Yeah, you have to purchase it first. I need to make a better error message :(

[2021-11-13 01:49] 89z commented on #3
OK I made a better message:

[code]

If you have other problem let me know, thanks!

[2021-11-13 01:56] 89z commented on #3
Also FYI, the `Authorization` and `X-DFE-Device-ID` headers are specific to your Google account, so I would probably edit them out. I might omit them from the output in the future, but for now its not a good idea to post the full strings.

[2021-11-13 12:30] ford--prefect commented on #3
@89z Maybe configure the github issue workflow such that the danger of erroneously posting sensitive data is warned of before submission?

[2021-11-13 12:32] ford--prefect commented on #1
Building and testing with 1.3.1 yields no success, issue persists. Is this commit included in the release?

[2021-11-13 13:16] 89z commented on #1
I am going to reopen this, but I guess I dont know how to fix it:

https://github.com/89z/googleplay/blob/bb9c9f2e4d7ea265e664f069f2f3a55f7f6f2151/cmd/googleplay/play.go#L147

[2021-11-13 13:18] 89z commented on #1
Since the folder was already made wrong, you might have to delete it before the program will work again. Sorry I cant provide much help here, as I am on Windows.

[2021-11-13 13:23] 89z commented on #3
@ford--prefect in this case its not a huge deal. The `Authorization` expires in one hour anyway, and the Device isnt really your device, its just one that was created by the program. Im not sure if the device code works with any Google account, I would guess not.

[2021-11-13 14:11] 89z commented on #3
FYI I have now added the cost as well (not pushed yet), so you can tell free app versus paid app:

[code]

[2021-11-13 19:27] ford--prefect commented on #1
Thanks, I will look into this in the next days and make a MR when I have a solution.

[2021-11-14 18:30] ford--prefect commented on #1
Ok, issue solved. While your commit  bb9c9f2 solved it, it was not included in 1.3.1 (but only 1.3.2).

[2021-11-14 18:30] #1 closed

[2021-11-14 19:00] 89z commented on #1
That commit doesnt have any changes to `Mkdir`, but if it worked for you, then good.

Also stay tuned, I am going to be improving the default device today or tomorrow - I noticed that Instagram wasnt working.

[2021-11-14 19:09] ford--prefect commented on #1
Right, that was 4802eae. My bad.

[2021-11-14 23:36] NTT1906 opened #4 "how do i use it"
i tried to install it but it keeps failing

`go install
~/go/googleplay $ ls
auth.go       device.go       go.mod       readme.md  token_test.go
auth_test.go  device_test.go  go.sum       research
cmd           docs            license.txt  token.go
~/go/googleplay $ go list
github.com/89z/googleplay
~/go/googleplay $ googleplay
googleplay: command not found
~/go/googleplay $ go packages
go package

[2021-11-14 23:55] 89z commented on #4
You probably need to update your PATH. When you use `go install`, it goes here:

[code]

I am closing this, as its a Go issue, and not specific to this repo. Thanks!

[2021-11-14 23:55] #4 closed

[2021-11-17 01:53] 89z opened #5 "Release history"
https://www.apkmirror.com/uploads/?appcategory=youtube

[2021-11-17 02:58] 89z commented on #5
https://play.google.com/console

[2021-12-08 14:25] sureshdsk commented on #3
I get this error when trying to download. any idea?

[code]

[code]

[2021-12-08 14:39] 89z commented on #3
Yeah, I know about the problem. I have a fix here:

https://github.com/89z/googleplay/blob/965bb538356e1ea7e0254bf22e932a24f18883e6/research/2021-12-06/upload.go

I just got distracted with some other stuff. I will try to push a fix today

[2021-12-08 16:05] 89z commented on #3
OK it looks like this is the problem:

[code]

its required by some apps, but breaks others. I have removed it for now, I will add it back when I figure out how to get it working. So the problem in the previous comment should be fixed now.

[2021-12-08 16:05] #3 closed

[2021-12-08 16:20] sureshdsk commented on #3
yes it works now. thanks.

[2021-12-08 17:32] 89z commented on #3
OK, seems the problem was, I was trying to get the TV app:

https://play.google.com/store/apps/details?id=com.iqiyi.i18n.tv

instead of the regular app:

https://play.google.com/store/apps/details?id=com.iqiyi.i18n

looks like TVs cant get any phone apps, and Phones cant get any TV apps. I could add a TV device, but probably not worth it

[2021-12-25 15:26] Walkyst opened #6 "About aas_et token"
Tried to search how long `aas_et` token is live before it needs to be updated, but no luck or it can be obtained once and it forever until password is changed on google account?

[2021-12-25 15:35] 89z commented on #6
Sorry I dont really have an answer to that, as I havent done testing on it. Typically you will generate the token:

[code]

and it should last quite a while, I would guess at least one month. However in the process of development, I was creating several GSF IDs:

[code]

and I noticed that if you create too many (like 10 in a row), then you are forced to create a new token. However in general use,

[2021-12-25 15:35] #6 closed

[2021-12-27 15:14] BrunoFischerGermany opened #7 "download the apk to an specific folder"
Hello 89z,

thanks for your cool programm.

But i don't know to download the apk to an specific folder.

I have an Database with the PlayStoreID (e.g. org.wikipedia or com.bitdefender.security). I want now to download it with 1 or 2 Lines in the terminal.

How i can create it?

I make googleplay -e email@gmail.com -p PASSWORD -d -a "org.wikipedia"

i Think aapt dump but i dont know the path to fol

[2021-12-27 15:36] 89z commented on #7
Please just follow the instruction [1] on the main page, its pretty simple. First you create a token. This is a one time process, so you dont use these flags with every command:

[code]

Then you create a device. Again this is a one time process, so you do not use this flag with every command:

[code]

Then get the version code:

[code]

Then purchase:

[code]

Then download:

[code]

Again, this

[2021-12-28 10:11] BrunoFischerGermany commented on #7
Hello 89z,

thank you for the much info. I did not want to make you unhappy :( Now everything has become clear to me. Thank you! I thought there is only 1 command and it downloads the APK.

But a switch where I can load the AKP I have not found. Right?

Great would be a -o /home/user/ or a C:\Users\Documents\.

Is something like that planned?

[2021-12-28 14:06] 89z commented on #7
You want to control the output folder?

[2021-12-28 17:46] BrunoFischerGermany commented on #7
Yes. Because i use it to automated download apks, when updated. I have an database with the timestamps.
With the Database i have an folder structur for the different apk versions.

before run googleplay i can navigate to the right folder (e.g. cd /home/user/) thats right. But a contol to the folder would be nice.

by the way. in my googlelogin i have now the Oneplus-A0001-device. When im running t

[2021-12-28 17:49] 89z opened #8 "com.xiaomi.smarthome.tv.global2 fails"
[code]

[2021-12-28 17:49] 89z commented on #7
https://github.com/89z/googleplay/issues/8

[2021-12-28 17:49] 89z commented on #8
https://github.com/89z/googleplay/issues/7

[2021-12-28 17:54] 89z commented on #8
Non TV version fails too:

[code]

[2021-12-28 18:04] 89z commented on #8
Non TV version fixed:

[code]

https://github.com/89z/googleplay/commit/210ef2c56e1c3fd1ab556fca3c5067beb6b6d09a

Regarding TV version:

https://github.com/89z/googleplay/tree/master/docs#how-to-get-tv-apps

[2021-12-28 18:04] #8 closed

[2021-12-28 18:38] 89z commented on #7
OK this should be fixed now. Example command:

[code]

https://github.com/89z/googleplay/commit/76f71fde27acc608c838d0a19e10784f79fd1d14

[2021-12-29 05:41] BrunoFischerGermany commented on #8
Thank You!

[2021-12-29 05:42] BrunoFischerGermany commented on #7
Thank You!

-o Works fine 👍👌

[2021-12-29 15:03] f4biopedro opened #9 "suggestion for authentication"
Prompt the user for email and password.
Putting passwords in the terminal is a security issue.
Someone could search the terminal history.

[2021-12-29 15:31] 89z commented on #9
Thank you for the suggestion. However the tool is meant to only be a demonstration of the features of the module, found here:

https://godocs.io/github.com/89z/googleplay

People who wish for some feature in the tool can implement it themself, using the existing module. If you are willing to consider a donation, I might be willing to implement the feature here.

[2021-12-29 15:31] #9 closed

[2021-12-29 17:42] BrunoFischerGermany opened #10 "New Switches"
Hello Again,
I have nine a suggestion for your program googleplay.

How would it be if you use the switches

--num-downloads - only the number of downloads will be output
--size-human - Only the size will be output (human readable- KB or MB)
--size-byte - Only the size will be printed (in bytes)
--title - Only the title will be printed (string)
--version-code - Only the version code will be output

[2021-12-29 18:13] 89z commented on #10
See here:

https://github.com/89z/googleplay/tree/master/docs#will-you-add-features

If you are willing to make a donation as documented there, then let me know. Thanks.

[2021-12-29 18:13] #10 closed

[2021-12-30 07:53] BrunoFischerGermany commented on #10
Yes! Let me do an Donation.
PayPal mabye?

[2021-12-30 14:47] 89z commented on #10
My PayPal is `srpen6@gmail.com`

[2021-12-30 14:55] 89z commented on #10
https://www.paypal.com/donate/?hosted_button_id=UEJBQQTU3VYDY

[2021-12-30 17:03] 89z commented on #10
Thank you, I received the donation. However since this will take at least 1-2 hours to implement, I am asking for a $99 donation. Normally I would do the feature for free, but at this time I do not have a job, so I must ask for donation to implement this feature. If that is not acceptable, I can return the donation sent to me, thanks.

[2021-12-30 21:39] BrunoFischerGermany commented on #10
hi.
none of this is that important. i can solve this in another way.
You can keep the 20 USD.

I still have a question about Samsung Apps.

Have a look at com.sec.android.app.launcher. I get VersionCode 0, because there is no Samsung device stored.

Greetings

[2021-12-30 22:11] 89z opened #12 "Regional lockout"
[code]

[2021-12-30 22:11] 89z commented on #12
https://github.com/89z/googleplay/issues/10

[2021-12-30 22:12] 89z opened #13 "com.google.android.projection.gearhead.phonescreen"
[code]

[2021-12-30 22:12] 89z commented on #13
https://github.com/89z/googleplay/issues/10

[2021-12-30 22:14] 89z commented on #12
https://play.google.com/store/apps/details?id=com.sec.android.app.launcher

[2021-12-31 01:08] 89z commented on #12
Im going to have to close this as wont fix. I am able to get the details now:

[code]

but I am not able to download APK. Making a request like this:

[code]

I get response code 2. I know code 1 is OK, and code 3 is purchase required, but I dont know what code 2 is. I also tried these programs:

- https://github.com/NoMore201/googleplay-api
- https://github.com/onyxbits/raccoon4
- https://gitlab.

[2021-12-31 01:28] 89z commented on #13
Racoon works:

[code]

[2021-12-31 01:55] 89z commented on #13
The `X-DFE-Device-Id` is the problem

[2021-12-31 08:24] 89z commented on #13
https://github.com/89z/googleplay/issues/12

[2021-12-31 08:24] 89z commented on #12
I am going to reopen this for now. I have a fix for issue 13, which might fix this too

[2021-12-31 08:27] 89z commented on #13
I have a working proof of concept here:

https://github.com/89z/googleplay/tree/master/research/gplayapi

but its going to take a while still to root cause this. I think I need to replace the current `/checkin` request with the one in the research folder, but it might be something else.

[2022-01-03 04:51] andryan opened #14 "panic: "Token" not found"
Hi,

I managed to build the project but kept getting this error message:

POST https://android.clients.google.com/auth
panic: "Token" not found

goroutine 1 [running]:
main.main()
	temporary/googleplay-master/cmd/googleplay/main.go:34 +0x607

I have passed my email and password with -e and -p parameters respectively.

Any idea what I might have done wrong?

Thanks!

[2022-01-03 04:59] 89z commented on #14
Please provide the exact command or commands you are using. I will reopen once that is done. Thank you!

[2022-01-03 05:08] andryan commented on #14
I used the command as stated in the readme file:
googleplay -e EMAIL -p PASSWORD

[2022-01-03 05:26] 89z commented on #14
Hm, this is a tough one, since I cant exactly get your full output, since password is involved. I am able to run everything fine using my account, also I checked Less Secure App Access [1], and it seems to work either way. I added a check for the response code [2], so you can try again with the latest commit if you want.

1. https://myaccount.google.com/lesssecureapps
2. https://github.com/89z/goo

[2022-01-03 05:30] andryan commented on #14
Update: I have just enabled 2FA and created an app password, then I used the app password instead of the account's password.  It worked!

$ googleplay -e email -p 'app password'
POST https://android.clients.google.com/auth
Create .cache/googleplay/token.json
$ googleplay -d
POST https://android.clients.google.com/auth
POST https://android.clients.google.com/checkin
POST https://android.clients.goo

[2022-01-03 05:33] 89z commented on #14
Glad to see you got it working. I am not using an app password myself, so I wouldnt think it would be needed. I am in the United States, are you as well?

[2022-01-03 05:39] andryan commented on #14
I am in Indonesia.  I came across your project on gplaycli's GitHub.

I have cloned the latest git and I'm still getting the same error:
panic: "Token" not found

I used both wrong password and correct account password and got the same error.  Using the app password immediately creates the token.json file.

BTW, Less Secure App Access remains OFF for my Google account.

[2022-01-03 05:49] 89z commented on #14
OK I added a warning about App Password. I am closing this now, any other issue let me know. Thanks!

[2022-01-03 05:49] #14 closed

[2022-01-03 06:06] andryan commented on #14
Thanks for the tool and your support!

BTW, is there an option to download the full APK instead?  Or is there an easy way to merge the split APK files into an APK?

[2022-01-03 06:22] 89z commented on #14
You can install a split like this:

https://github.com/89z/googleplay/tree/master/docs#how-to-install-split-apk

In regards to merging, I think thats beyond the scope of this project, but I might look into it. Also, did you ever try enabling Less Secure App Access as previously discussed? If that works, I think it is a better solution than App Password, as it doesnt require 2FA.

[2022-01-03 06:44] andryan commented on #14
Yes.  I did enable it to test, but it didn't change the outcome.

On Mon, 3 Jan 2022 at 13.23 Zombo ***@***.***> wrote:

[2022-01-05 01:21] 89z commented on #13
Done:

[code]

[2022-01-05 01:21] #13 closed

[2022-01-05 01:30] 89z commented on #10
FYI I was able to fix `com.google.android.projection.gearhead.phonescreen`, but not the other one. However raccoon4 cant get it either, so the issue is not specific to this repo.

[2022-01-11 11:34] zuozhen opened #15 "install failed with error "INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113""
Hi,

This repo works great when download apk from GP. But it seems no any place to config device param. Now I face an issue that I couldn't install the app on my phone after download successfully. When I type "adb install xxxx.apk", there's an error "INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113".
What kind of device using to simulate to download app from GP, please

[2022-01-11 15:20] 89z commented on #15
Yes, the module can control this here:

https://github.com/89z/googleplay/blob/855b6d9516fce61834db3f9932b51a3c8970183f/proto.go#L51-L58

However the tool does not currently have a way to control this. I can add this feature, but I require to know the app in question. I am closing for now, I will reopen once that question is answered. Thank you!

[2022-01-11 15:20] #15 closed

[2022-01-13 04:51] sureshdsk opened #16 "Unable to download com.google.android.apps.walletnfcrel"
Thanks for the brilliant tool to download apks from playstore.

I'm facing an issue when downloading `com.google.android.apps.walletnfcrel`
Response:
[code]
It is unable to get VersionCode.  Any help?

[2022-01-13 05:12] 89z commented on #16
Should be fixed now:

https://github.com/89z/googleplay/blob/f27b0c3b9942030179d63e420fa4004aa5c22fb4/proto.go#L15-L16

[2022-01-13 05:12] #16 closed

[2022-01-13 05:14] sureshdsk commented on #16
Thank you @89z  for the rapid response

[2022-01-13 06:09] 89z commented on #16
@sureshdsk please star this repo if it is helpful

[2022-01-13 06:14] sureshdsk opened #17 "request for proxy support"
cli program doesn't seem to respect proxy configuration set via `HTTP_PROXY` and `HTTPS_PROXY` environment variables.

If you would like, I can add this feature and send PR if you guide me little bit. I'm new to golang and learning.

[2022-01-13 06:20] 89z commented on #17
If you are willing to make donation, I will consider this feature. See here for more info:

https://github.com/89z/googleplay/tree/master/docs#will-you-add-features

[2022-01-14 20:30] cernec1999 commented on #15
Hello,

I am attempting to get the `arm64-v8a` apk of `org.thoughtcrime.securesms`. Unfortunately, removing the two entries in the NativePlatform array below `arm64-v8a` does not seem to indicate the correct version that contains the needed binary. Is there some other step I need to take to ensure that the tool downloads arm64?

Chris

[2022-01-14 20:33] cernec1999 commented on #15
Here is more context to the error I'm having. Please see the attached screenshot, in which the Signal binary only contains binaries for x86.
![Screenshot from 2022-01-14 15-32-36](https://user-images.githubusercontent.com/5413945/149581407-19ae0afa-033d-4ac5-8da0-1b8c2a4ee29f.png)

[2022-01-14 20:39] 89z commented on #15
Why do you need to do this? What is wrong with `x86`?

Unfortunately, removing the two entries in the NativePlatform array below `arm64-v8a` does not seem to indicate the correct version that contains the needed binary.

I dont understand this comment, as `arm64-v8a` is the last entry, so its not possible for any entries to be below the last entry.

The correct way to do this is using `aapt`, for

[2022-01-14 20:44] cernec1999 commented on #15
I am using your tool to download apks for my native arm64 android device. I cannot use binaries that are x86 on my native arm device.

I was referring to the entries above `arm64-v8a`. My apologies. In any case, removing the entries above `arm64-v8a` do not seem to solve my problem.

[2022-01-14 20:47] 89z commented on #15
OK, thats reasonable. However I do not like the manner in which this issue was posted. If you are willing to open a new issue, I can see about working on this.

[2022-01-14 20:50] cernec1999 opened #18 "ARM Binary Download Support"
Hello,

I am attempting to get the arm64-v8a apk of org.thoughtcrime.securesms. Unfortunately, removing the two entries in the NativePlatform array above arm64-v8a does not seem to indicate the correct version that contains the needed binary. Is there some other step I need to take to ensure that the tool downloads arm64?

Here is some additional context for my error.

New NativePlatform array:
[c

[2022-01-15 21:02] 89z commented on #18
Closing this for now. If you are able to provide feedback, then I can reopen.

[2022-01-20 09:24] raffaem opened #19 "Unsupported protocol scheme"
I'm using git commit f4256a916024fbf2102bd081abcf924366daa11c.

I followed all the steps in the README, and I arrived at the last step where I download the app, where the following error is thrown:

[code]

[2022-01-20 14:13] 89z commented on #19
You dont just provide a random number to the version option, you need to provide a proper version:

[code]

However, I probably need to improve the error message, so I will leave this open for now.

[2022-01-20 14:26] 89z commented on #19
OK I pushed a commit [1] that improves the error message:

[code]

1. https://github.com/89z/googleplay/commit/c90e8838ed4e41e4b3be356d4f8096c0196eadaf

[2022-01-20 14:26] #19 closed

[2022-01-20 14:28] raffaem commented on #19
Can we also improve README.md, specifying that after `-v` you need to provide the version code obtained in the previous passage?

[2022-01-20 14:33] 89z commented on #19
I dont know why you would think that you could just use any random version code, or why you would think that the version code in the example would work with every single app. Regardless I updated the readme:

https://github.com/89z/googleplay/commit/7a0ccb039a8692c3bce19a22697373cc19e24f31

[2022-01-20 14:36] raffaem commented on #19
I didn't know that was a version code. I just copy and pasted the command from the README.

[2022-01-20 14:38] 89z commented on #19
All you had to do was run `googleplay` or `googleplay -h`:

[code]

This is just laziness. I have worked many months on this project, and you cant even be bothered to look at the help screen. I am blocking you from this project, I dont wish for you to waste any more of my time.

[2022-01-21 03:34] 89z opened #20 "Single APK"
Using a program like this:

[code]

You get a single APK, instead of split:

[code]

The `X-Dfe-Device-Id` for the single APK was created by another tool. It is much larger file, but might be desirable for some people. It single file includes all ABI, so its universal.

[2022-01-21 03:35] 89z commented on #20
https://github.com/89z/googleplay/issues/14

[2022-01-21 03:35] 89z commented on #14
https://github.com/89z/googleplay/issues/20

[2022-01-21 04:45] 89z commented on #17
I am reconsidering this suggestion. Do you have a source for good proxy?

[2022-01-21 06:02] sureshdsk commented on #17
with good luck, we can find a working proxy ip here -> https://www.sslproxies.org. Usually after 3-5 attempts i get a working IP. It's not so fast.
for paid/free trial I have tried http://proxymesh.com it works fast.

[2022-01-21 06:22] 89z commented on #17
Sorry but that is not an acceptable response. I will do my own search, if I can't find anything, this issue will vbe closed again

[2022-01-22 00:50] 89z commented on #17
In my case I am trying to get this app:

https://play.google.com/store/apps/details?id=air.ITVMobilePlayer

I found some UK proxies that work:

https://github.com/monosans/proxy-list

but even with those, I dont get that app with a search:

[code]

which means that probably one of these headers is being checked as well:

[code]

[2022-01-22 01:53] 89z commented on #17
OK I tried again using a GB `Authorization` and `X-Dfe-Device-ID` from here:

https://github.com/Juby210/gplayapi-go

as well as GB proxy, but still not getting the app to show up on a search. I guess it has something to do with the `aas_et` token, or maybe the proxy is leaking my true location. Either way, I am not writing proxy support if it wont allow me to get regional lockout apps. If anyone

[2022-01-22 01:53] #17 closed

[2022-01-23 14:58] jayluxferro opened #21 "Unable to download APK file"
Hi @89z, I tried your application but I'm unable to download the APK file. It shows "**Item not owned**".  A preview is shown below:

![Screenshot 2022-01-23 at 2 56 49 PM](https://user-images.githubusercontent.com/8394019/150684614-fdd7e4f8-7949-4c68-b27f-301d3c5a2d98.png)

[2022-01-23 15:25] 89z commented on #21
I recently changed the error message, but it seems the new message is worse than the old one. I have changed it back:

https://github.com/89z/googleplay/commit/019001e297005e3c156bec6d7fa870179960cb29

[2022-01-23 15:25] #21 closed

[2022-01-23 15:59] 89z commented on #14
FYI it seems it is possible to download a single APK, see linked issue. However I dont need that feature myself, so I would be wanting a donation to implement it.

[2022-01-28 18:54] iambenmitchell opened #22 "Information incomplete, unable to download APK."
When the command runs, not all of the information is filled out. Because of this, I am unable to download the APK.

<img width="681" alt="image" src="https://user-images.githubusercontent.com/27426792/151604916-c3071df1-05a0-4be4-aafe-ceeac716f17a.png">

[2022-01-28 19:25] 89z commented on #22
Should be able to use this alternative:

https://play.google.com/store/apps/details?id=com.hulu.plus

See here for more info:

https://github.com/89z/googleplay/tree/master/com#how-to-get-tv-apps

Closing this. If suggestion doesnt work for you, let me know and I can reopen.

[2022-01-28 19:25] #22 closed

[2022-01-28 19:38] iambenmitchell commented on #22
I need the TV app, it is for my FireTV Stick. I ended up using something else anyways.

[2022-01-28 19:48] 89z commented on #22
what did you use?

[2022-01-30 18:07] moeshin commented on #20
raccoon4 premium? Mine is still split apks.

[2022-01-30 18:16] 89z commented on #20
Please provide example app

[2022-01-30 18:23] moeshin commented on #20
[code]

[code]

[2022-01-30 18:37] 89z commented on #20
I dont know how youre getting your `X-Dfe-Device-Id`, but youre not doing it the right way. I got mine by using MITM Proxy and setting a proxy with the other program that I will not mention. Then I use the ID from the captured request. I have another program below that returns single APK, I took your exact program and only changed the ID. Please note that single APK is not a feature I am currently

[2022-01-30 19:05] moeshin commented on #20
I print header at
https://github.com/onyxbits/raccoon4/blob/444fab2374b7405f874eb439c284a56ec2161300/src/main/java/com/akdeniz/googleplaycrawler/GooglePlayAPI.java#L725-L750

Use Fiddler get header.
Edit profile and select `Mimic an existing device` option to see previously generated GSF ID.

Get the same id.

[2022-01-30 19:09] 89z commented on #20
I use the option "Register a new pseudo device"

[2022-01-30 19:14] moeshin commented on #20
I do the same.

You can see if the same.

[2022-01-30 19:16] 89z commented on #20
Sorry I am not making any more comments. If you wish for this feature, please make a donation as I have requested. Please dont make me lock this issue.

[2022-01-30 19:46] moeshin commented on #20
Sorry, paypal does not support in china. :(
 ![image](https://user-images.githubusercontent.com/28248888/151714643-a2231e6c-2200-41ad-ba7a-7b882131cd0a.png)

[2022-01-30 19:54] 89z commented on #20
Can you do Patreon? Also minimum donation is 99 USD

[2022-01-30 20:41] moeshin commented on #20
No, I'm just a poor student :(

[2022-01-30 20:58] 89z commented on #20
I dont have a job right now, so I cant change the price, sorry. Good luck to you.

[2022-02-05 19:43] 89z opened #23 "Firefox"
Getting an error trying to download this:

[code]

even current version

[2022-02-05 19:52] 89z commented on #23
fuckin leanback

[2022-02-05 19:52] #23 closed

[2022-02-06 04:57] 89z commented on #5
I still dont know how to do this, but I did figure out that you can specify a version with details request:

[code]

[2022-02-07 00:54] 89z commented on #20
This might be easier than I thought. It looks like if you change the User-Agent to this, you can get a single APK:

[code]

[2022-02-07 01:13] 89z commented on #20
https://github.com/89z/googleplay/issues/16

[2022-02-07 01:14] 89z commented on #20
https://github.com/matlink/gplaycli/issues/259

[2022-02-07 01:21] 89z commented on #20
https://github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/52

[2022-02-07 01:22] 89z commented on #20
https://github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/22

[2022-02-07 04:22] 89z commented on #20
This should be possible now with the `-s` flag:

[code]

note that single APK are much larger, so its usually better to just install the multiple APK.

[2022-02-07 04:22] #20 closed

[2022-02-07 23:45] 89z commented on #12
https://github.com/EtherTyper/dummydroid-patched/blob/e7f41bec/de/onyxbits/raccoon/finsky/DfeApi.java#L388-L398

[2022-02-07 23:46] 89z commented on #12
https://play.google.com/store/apps/details?id=air.ITVMobilePlayer

[2022-02-08 01:34] #12 closed

[2022-02-19 15:53] khaleelOrg opened #24 "Can't run anything on Terminal"
Below is my terminal command:
./googleplay -a com.google.android.youtube -v 1527109056

and here is the error:
panic: EOF

goroutine 1 [running]:
main.main()
        /root/googleplay-master/cmd/googleplay/main.go:64 +0x685

@89z Please see the error, i am working on this repository but couldnt get any output.

[2022-02-19 16:03] 89z commented on #24
Please specify what version you are using. I will reopen once thats done

[2022-02-19 16:03] #24 closed

[2022-02-20 02:59] khaleelOrg commented on #24
@89z Thanks for your response. I have successfully configured and able to run your repository on my machine. One thing I was expecting from your project was support for region restricted apps but I have already seen this [issue#12](https://github.com/89z/googleplay/issues/12).

One option left for me to download region restricted apps is to brute force all countries (locale) to googlePlay (by the

[2022-02-20 03:03] 89z commented on #12
https://github.com/89z/googleplay/issues/24

[2022-02-20 03:08] 89z commented on #12
To anyone visiting this page, this is possible in some cases:

https://github.com/89z/googleplay/tree/v1.7.4/docs#regional-lockout

[2022-02-20 03:09] 89z commented on #24
It is possible to change the location, but I think you can only do it once per year:

https://github.com/89z/googleplay/tree/v1.7.4/docs#regional-lockout

Or if you have proxy. If you find another way, let me know.

What do you mean?

[2022-02-23 08:43] khaleelOrg commented on #24
@89z If we already have gsfids and tokens specfic to every country, we can download region restricted apps, but the problem is how do we khow the specfic apk (for example: https://play.google.com/store/apps/details?id=com.sonyliv) is supported in which specific country?

Google provides app passwords for developers, we can create as many app passwords as we want. I have a separate baby server whic

[2022-02-23 12:28] GRodrig opened #25 "Problems getting details information com.google.android.GoogleCamera"
First run: ./googleplay -a com.google.android.GoogleCamera
[code]

Second run: ./googleplay -a com.google.android.GoogleCamera -v 64764669
[code]

It could be several problems, but the main one I see is this app is only available for Google Devices aka Pixel
"Requirements - The latest version of Google Camera only works on Pixel phones running Android 12 and above."

I am not sure about how they c

[2022-02-23 13:35] 89z commented on #12
https://github.com/NoMore201/googleplay-api/issues/157

[2022-02-23 13:39] 89z commented on #24
I cant give more information, until you explain your process.

Assuming that you know the locale, for example I know this one is `en-GB`:

https://play.google.com/store/apps/details?id=air.ITVMobilePlayer

how am I able to download it? Once you can confirm that information, then I can answer your question.

[2022-02-23 13:48] 89z commented on #25
Not sure why the heck you need to download that. As you can see from your own output, its literally only been downloaded one time, as it comes with every single Android already.

At any rate, its been fixed:

https://github.com/89z/googleplay/blob/b75079cbc18a674efe7b124ed33391bc733d1368/device.go#L35-L37

[2022-02-23 13:48] #25 closed

[2022-03-01 20:44] BrunoFischerGermany commented on #7
I update to version 1.7.0
do you remove the switch -o ?

Greets

[2022-03-01 21:17] 89z commented on #7
This should be fixed again, and I made another tag:

https://github.com/89z/googleplay/tree/v1.8.0

but youll need to build it yourself

[2022-03-01 21:17] #7 closed

[2022-03-02 12:12] yetnelson commented on #20
hi @89z , thanks for your project at first.

I download single APK with `-s` flag:
[code]
Yes, i got single APK which is more larger than split APKs. but it can not install in my android device and got err
[code]

I found the website apkcombo.com which provide APK download feature. I guess they also download the APK from gplay store.

[2022-03-02 12:23] yetnelson commented on #20
My device supportedAbis is arm64-v8a;armeabi-v7a;armeabi. UA as below
[code]

[2022-03-02 13:07] 89z commented on #20
@yetnelson please open a new issue, and I will see if I can fix this

[2022-03-03 04:06] yetnelson opened #26 "Single APK can not install on normal device"
I downloaded single APK with `-s` flag reference issue #20.
[code]
Yes, i got single APK which is more larger than split APKs. but it can not install in my android device and got err
[code]
My device CPU is arm64 which supportedAbis is arm64-v8a;armeabi-v7a;armeabi.

I found the website apkcombo.com which provide APK download feature. I guess they also download the APK from gplay store api.

[2022-03-03 04:10] 89z commented on #20
https://github.com/89z/googleplay/issues/26

[2022-03-03 04:15] 89z commented on #26
You should be able to change the code here:

https://github.com/89z/googleplay/blob/v1.8.0/device.go#L75-L82

I will see about maybe adding an option for this.

[2022-03-03 04:19] 89z commented on #26
Actually, since it seems you already downloaded using  apkcombo.com, I am going to close this. If that is not the case let me know, and I can reopen.

[2022-03-03 04:19] #26 closed

[2022-03-03 05:59] yetnelson commented on #26
Current the default NativePlatform already include `armeabi-v7a` and `arm64-v8a`. Does it means we need the APK which should supported both of the listed platforms?

I checked another device which sill install failure.
[code]
here is the device info.
[code]

[2022-03-03 06:08] yetnelson commented on #26
I installed success in my armv7l device which specific `NativePlatforms = []string{"armabi-v7a"}`.
I just wonder what's the different between multiple platforms?

[2022-03-03 07:42] kamushadenes opened #27 "Error: 403 Forbidden"
Hello,

Thanks for the project! I have looked a lot for a Go alternative to gplaycli and was very happy when I found your project.

I'm having an issue though, even after creating an App Password, I'm receiving a 403.

Triple checked email and password, even tried my regular one to be sure, no avail.

Error happens during token creation:

[code]

Since it doesn't use a *Device nor anything really

[2022-03-03 07:46] kamushadenes commented on #27
This is the project I'm using it on

https://github.com/kamushadenes/apkrash

Specifically this file https://github.com/kamushadenes/apkrash/blob/main/store/main.go

[2022-03-03 12:54] 89z commented on #26
I do not wish to discuss this further. In the future, I would recommend not mentioning other websites, as it removing any motivation for me to make any changes. If you already downloaded using another website, then me changing anything is pointless.

[2022-03-03 13:12] 89z commented on #27
Sorry, I can repro this. Using version v1.8.0 [1] with this code:

[code]

I get this result:

[code]

You can try this older code:

[code]

I get this result:

[code]

1. https://github.com/89z/googleplay/tree/v1.8.0

[2022-03-04 13:33] 89z commented on #27
closing for lack of response

[2022-03-04 13:33] #27 closed

[2022-03-13 18:09] 89z commented on #15
https://github.com/89z/googleplay/issues/18

[2022-03-13 18:09] 89z commented on #26
https://github.com/89z/googleplay/issues/18

[2022-03-13 18:11] 89z commented on #18
https://github.com/89z/googleplay/issues/15

[2022-03-13 18:11] 89z commented on #18
https://github.com/89z/googleplay/issues/26

[2022-03-13 18:12] 89z commented on #18
I am going to reopen this. I think I have a fix.

[2022-03-13 20:28] 89z commented on #18
My mistake. My fix is for using ARM on x86, not for x86 on ARM.

[2022-03-24 01:09] x011 opened #28 "panic: Purchase required on Free Application"
Step 1
[code]

Step 2
[code]

Step 3
[code]

Any idea of what can be wrong?

[2022-03-24 01:22] x011 commented on #28
No idea why, but after waiting a couple of minutes and issuing only `googleplay -a iptv.pro.player.m3u8.chromecast -v 7` , it worked.

[2022-03-24 01:28] 89z commented on #28
oh sorry, I see you did purchase, but it still didnt work. Sorry about that. Reopening

[2022-03-24 01:31] 89z commented on #28
I cannot reproduce this. Luckily, this was an app that I have not purchased, so I was in same situation as you:

[code]

It could be that the Purchase request takes time to process in some cases. However since I cant reproduce it, I think I will leave code the same for now. If you have any suggestion, let me know. Thanks.

[2022-03-28 08:44] fzts opened #29 "-a cannot obtain app information"
I am using an Indonesian account to download an app, but I cannot get the detailed information such as VersionCode, so I cannot download this app.
![image](https://user-images.githubusercontent.com/28336310/160360653-25e3b8db-0552-4ca7-adfc-7038edd5f461.png)

Thanks for the great program!

[2022-03-28 12:45] 89z commented on #29
that is not a valid app:

https://play.google.com/store/apps/details?id=com.julofinance.juloapp

[2022-03-28 12:45] #29 closed

[2022-03-30 06:06] mahmksoft opened #30 "API question"
Is there any way to vote (Rate) an app using googeplay cli?

[2022-03-30 11:03] 89z commented on #30
It's possible, see here:

https://github.com/89z/googleplay/tree/master/docs#will-you-add-features

Let me know if you're interested

[2022-03-31 10:04] Mattwmaster58 opened #31 "ft request: streamline downloading APKs"
It would be nice to streamline the APK downloading process, ie, issuing one command that purchases the app and downloads it.

[2022-03-31 13:10] 89z commented on #31
Please see here:

https://github.com/89z/googleplay/tree/v1.8.8/docs#will-you-add-features

If you are interested to continue, let me know. Thanks.

[2022-04-01 08:57] fzts commented on #29
Please use the corresponding country's website to access
https://play.google.com/store/apps/details?id=com.btpn.dc&hl=en_US&gl=ID

[2022-04-05 14:27] 89z commented on #31
closing for lack of response

[2022-04-05 14:27] #31 closed

[2022-04-05 14:39] 89z opened #32 "TV apps"
[code]

[2022-04-05 14:40] 89z commented on #32
https://github.com/89z/googleplay/issues/7

[2022-04-05 14:40] 89z commented on #32
This one too:

https://play.google.com/store/apps/details?id=com.google.android.youtube.tvunplugged

[2022-04-05 19:54] 89z commented on #32
Fixed:

[code]

[2022-04-05 19:54] #32 closed

[2022-04-06 21:22] 89z opened #33 "Version History"
https://www.apkmirror.com/uploads/?appcategory=youtube

[2022-04-06 21:22] 89z commented on #33
https://apps.apple.com/app/youtube-watch-listen-stream/id544007664

[2022-04-08 03:06] GaryGao717 opened #34 "permission denied"
Macbook pro, macOS Monterey Version 12.0.1
go version:  go1.18 darwin/amd64

When run googleplay command
`% googleplay -a com.google.android.youtube`

return this:
`panic: open /Users/XX/Library/Caches/googleplay/token.json: permission denied`

`goroutine 1 [running]:`
`main.main()`
`	PATH/googleplay-master/cmd/googleplay/main.go:60 +0x6e5`

[2022-04-08 03:33] 89z commented on #34
Hey, I think its caused by this:

[code]

https://github.com/89z/format/blob/2b1c10a80d02771ef24cabd543881c6d11ffa56b/format.go#L16-L19

on my system, that creates a folder no problem. but I think on macOS and Linux, it creates a folder with bad permission.

[2022-04-08 03:44] 89z commented on #34
Looks like I should be using `os.ModePerm` instead:

https://godocs.io/os#ModePerm

I will try to do a fix soon.

[2022-04-08 04:07] 89z commented on #34
This should be fixed now on the master branch. If you still have problems let me know

[2022-04-08 04:07] #34 closed

[2022-04-08 04:17] GaryGao717 commented on #34
Have cloned the latest master, but still get the same permission denied error

[2022-04-08 04:18] 89z commented on #34
The original broken folder probably still exists.

You might need to just delete that folder using your own methods. Then run the program again after that

[2022-04-08 17:28] 89z opened #35 "Is it possible to get the version of an app?"
com.whatsapp

`github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/76`

[2022-04-08 17:30] 89z commented on #35
Like this:

[code]

[2022-04-08 17:30] #35 closed

[2022-04-08 17:31] 89z commented on #35
@shifoc

[2022-04-08 17:31] 89z commented on #35
https://github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/76

[2022-04-08 17:32] shifoc commented on #35
Thank you

[2022-04-11 02:45] xue5734 opened #36 "com.jackpocket cannot downloaded in US"
The  com.jackpocket cannot downloaded. Is there any way to deal with it

panic: cannot unmarshal <nil> into field 2 of type protobuf.Varint

goroutine 1 [running]:
main.main()
        d:/work/googleplay/cmd/googleplay/main.go:73 +0x6f7

[2022-04-11 02:53] 89z commented on #36
This should be fixed now on `master`:

[code]

[2022-04-11 02:53] #36 closed

[2022-04-11 03:05] 89z commented on #36
please star this repo, if it is helpful

[2022-04-12 12:29] 89z opened #37 "server says: BadAuthentication"
https://play.google.com/store/apps/details?id=org.mozilla.firefox

`github.com/matlink/gplaycli/issues/260`

[2022-04-12 12:30] 89z commented on #37
Fixed:

[code]

[2022-04-12 12:30] #37 closed

[2022-04-12 12:30] 89z commented on #37
https://github.com/matlink/gplaycli/issues/260

[2022-04-12 12:31] 89z commented on #37
@besendorf

[2022-04-12 12:34] besendorf commented on #37
Thanks!

[2022-04-12 13:03] besendorf opened #38 "Panic: 404 Not Found"
After running the binary with the suggested parameters `googleplay -e email -p app_password` I get this error:
[code]

[2022-04-12 13:40] besendorf commented on #38
No, app passwords are only 16 lowercase latin characters

[2022-04-12 13:58] 89z commented on #38
Can you run this command and paste the output:

[code]

It should probably still fail, but with `HTTP/2 403` instead of 404.

[2022-04-12 14:03] besendorf commented on #38
[code]

[2022-04-12 14:28] besendorf commented on #38
How would I compile that?

[2022-04-12 15:15] 89z commented on #38
OK so in theory, the code works. but for some reason, something is going wrong either in the package or the tool. Can you try this program:

[code]

and put the output here? make sure to snip any private stuff. Should look something like this:

[code]

[2022-04-12 15:19] besendorf commented on #38
[code]

[2022-04-14 02:23] 89z commented on #38
closing for lack of response

[2022-04-14 02:23] #38 closed

[2022-04-15 13:29] ashishov opened #39 "panic: cannot unmarshal <nil> into field 2 of type protobuf.Varint"
Some apps give me the following error "cannot unmarshal <nil> into field 2 of type protobuf.Varint"

Examples with existing apps in the google play:
googleplay -a kr.sira.metal
googleplay -a la.droid.qr.priva
googleplay -a kr.sira.compass
googleplay -a kr.sira.measure
googleplay -a com.hamsterbeat.wallpapers.fx.panorama
googleplay -a br.com.rodrigokolb.realdrum

Examples which has to return 404, b

[2022-04-15 13:44] 89z commented on #39
these are now fixed:

[code]

still working on these:

[code]

[2022-04-15 13:47] 89z commented on #39
Last update for this one is 2014:

[code]

why do you need it?

still working on these:

[code]

[2022-04-15 13:50] ashishov commented on #39
I have a base with Android Apps so I am trying to check if apps have any updates and download new version if so

[2022-04-15 13:52] 89z commented on #39
Unless you can provide a good reason for this one:

[code]

I am not adding it. I am not support 8 year old APK, unless you have a good reason. Other ones I am still working on.

[2022-04-15 13:54] 89z commented on #39
This one fixed:

[code]

still working on these:

[code]

[2022-04-15 14:00] 89z commented on #39
This one has last update 2016:

[code]

need a good reason to support. still working on this one:

[code]

[2022-04-15 14:01] 89z commented on #39
Actually flash player has been pulled:

https://play.google.com/store/apps/details?id=com.adobe.flashplayer

so definitely not supporting that.

[2022-04-15 14:03] 89z commented on #39
this one has been pulled:

https://play.google.com/store/apps/details?id=com.mhoffs.customlocale

closing now. If you have some justification for the ones I rejected, I will consider it. Otherwise this is done.

[2022-04-15 14:03] #39 closed

[2022-04-15 14:09] 89z commented on #39
This one is fixed:

[code]

[2022-04-18 01:39] 89z commented on #18
I have an interest in fixing this now. I previously thought the `NativePlatform` logic was:

but is actually defined as:

So if you are fine with multiple platforms, and you have a preference, you must use separate devices, otherwise you wont be able to control what is returned.

[2022-04-18 02:31] 89z commented on #18
This is fixed now:

https://github.com/89z/googleplay/blob/566eb767a252410ae2f71112c3db58653815ea35/cmd/googleplay/main.go#L14-L19

[2022-04-18 02:31] #18 closed

[2022-04-18 02:32] 89z commented on #18
Example usage:

[code]

[2022-04-19 12:10] vegedreamgagnoa opened #40 "How to set output directory?"
Hey @89z great work. I just wondering if there's any way for us to set the output directory?

[2022-04-19 13:15] 89z commented on #40
please star this repository, and I will add the feature

[2022-04-20 17:00] #40 closed

[2022-04-21 12:50] 89z opened #41 "Error while retrieving information from server. DF-DFERH-01"
com.miui.weather2

`github.com/matlink/gplaycli/issues/289`

[2022-04-21 12:51] 89z commented on #41
Fixed:

[code]

[2022-04-21 12:51] #41 closed

[2022-04-21 12:52] 89z commented on #41
https://github.com/matlink/gplaycli/issues/289

[2022-04-21 12:52] 89z commented on #41
@ashutoshtiwari199

[2022-04-21 16:24] vegedreamgagnoa commented on #40
Thanks!

[2022-04-21 16:24] vegedreamgagnoa commented on #40
Done - now add!!!!!!!!!!!!!!!! 👍

[2022-04-21 17:04] 89z commented on #40
Hello, thanks for the star.

How based on the extremely rude nature of your last comment, I will only add the feature if you make a $99 donation. If you are interested to do that, let me know. Otherwise, please don't ever comment on this repository again.

[2022-04-22 06:23] vegedreamgagnoa commented on #40
Wow, sorry - just kidding on that, it's okay if you don't want to add it. Great work though!

[2022-04-24 13:37] 89z commented on #37
https://github.com/NoMore201/googleplay-api/issues/140

[2022-04-24 13:38] 89z commented on #37
@NachumOlman

[2022-04-24 14:23] 89z commented on #41
Fixed @LosevMikhail:

[code]

[2022-04-24 14:24] 89z commented on #41
https://github.com/NoMore201/googleplay-api/issues/105

[2022-04-27 16:16] VuzzyM opened #43 "Not working app from android tv"
Is not working ./googleplay.exe -a

This is android tv application com.boosteroidtv.streaming

https://play.google.com/store/apps/details?id=com.boosteroidtv.streaming&hl=en&gl=US

[2022-04-27 16:21] 89z commented on #43
Yeah, I removed TV support recently, in favor of adding support for ARMEABI and ARM64. I am not sure if I want to add TV support back at this time. You can get the phone app:

[code]

Is that acceptable?

[2022-04-27 16:23] VuzzyM commented on #43
Yes, this is it, please add this option back

[2022-04-27 16:27] 89z commented on #43
I am closing this for now. You just commanded me to do something, rather than ask. A polite command is still a command. I will now only add TV back if I personally want to, or if you decide to make a donation:

https://github.com/89z/googleplay/tree/v1.9.1/docs#will-you-add-features

[2022-04-27 16:27] #43 closed

[2022-04-27 23:10] shifoc opened #44 "I am getting error 404 not found"
After running` googleplay -e email@gmail.com -p password` I get this:
[code]

[2022-04-27 23:11] 89z commented on #44
Hello, please post example command

[2022-04-27 23:12] shifoc commented on #44
Hello, I edited my comment

[2022-04-27 23:14] 89z commented on #38
https://github.com/89z/googleplay/issues/44

[2022-04-27 23:16] 89z commented on #44
this happened before, but we never figured out what was causing the problem. The same command works fine for me, using the current `master` commit. Please review the previous linked issue, and see if you still have the problem

[2022-04-27 23:17] shifoc commented on #44
https://github.com/89z/googleplay/issues/38#issuecomment-1096871181

I got the same error

[2022-04-27 23:20] 89z commented on #44
Thanks for that information. You will need to try the other suggestions as well, starting from the older comments. If you get success, then stop and post another comment here. Thanks again

[2022-04-27 23:27] shifoc commented on #44
[code]

[2022-04-27 23:29] 89z commented on #44
That is a good result, can you try this one now:

https://github.com/89z/googleplay/issues/38#issuecomment-1096782831

[2022-04-27 23:38] shifoc commented on #44
I did
[code]
How do I get the output?

[2022-04-27 23:39] 89z commented on #44
If you run those commands, it just builds the program, you still need to run the program after that

[2022-04-27 23:41] shifoc commented on #44
[code]

[2022-04-27 23:50] 89z commented on #44
OK, the program you just ran worked for both me and @besendorf as shown here:

https://github.com/89z/googleplay/issues/38#issuecomment-1096837106

but its not working for you. So I'm not really sure what to do now. The only thing I can think of, is you can try the same program again, but change this line:

[code]

to this:

[code]

[2022-04-27 23:53] shifoc commented on #44
[code]

[2022-04-27 23:56] 89z commented on #44
Sorry, but I am kind of out of ideas. Can you specify what country you are in? I am in United States. Also, I am using a normal password, but I think in some cases you need to use App Password:

https://support.google.com/accounts/answer/185833

finally, you can try another program to see if it works. Here is an alternate program that might work:

https://raccoon.onyxbits.de/apk-downloader

[2022-04-28 00:04] 89z commented on #44
please check the above linked issue as well

[2022-04-28 14:32] VuzzyM opened #45 "[Request] Ads support for Android TV"
Hello.

Can you add support for Android TV?

Thank you very much.

[2022-04-28 14:36] 89z commented on #45
As mentioned before, because of your previous behavior, I will only restore this feature if you make a donation:

https://github.com/89z/googleplay/tree/v1.9.1/docs#will-you-add-features

If you wish to do that, let me know. Otherwise consider this your last warning.

[2022-04-28 14:36] #45 closed

[2022-04-28 20:53] shifoc commented on #44
thanks, accepting the terms and conditions fixed it

[2022-04-28 22:12] shifoc opened #46 "go build failing on ubuntu"
`go: downloading github.com/89z/format v1.31.0
go: downloading github.com/refraction-networking/utls v1.0.0
go: downloading google.golang.org/protobuf v1.28.0
go: downloading golang.org/x/crypto v0.0.0-20210817164053-32db794688a5
go: downloading golang.org/x/sys v0.0.0-20210615035016-665e8c7367d1
# runtime/internal/sys
/usr/local/go/src/runtime/internal/sys/consts.go:16:7: DefaultPhysPageSize rede

[2022-04-28 22:18] 89z commented on #46
Please do `go version` and reply with the result

[2022-04-28 22:35] shifoc commented on #46
I was able to make it work but reinstalling golang but now the next step is not working.

`googleplay: command not found`

[2022-04-28 22:40] 89z commented on #46
Sorry, but that is not an issue specific to this project, thank you

[2022-04-28 23:04] 89z commented on #44
I added a sentence to the README, hopefully that will help other people

[2022-04-28 23:04] #44 closed

[2022-05-03 20:13] shifoc commented on #46
It should be ./googleplay for anyone that has this issue

[2022-05-12 11:34] duyuphp opened #47 "Login failed"
hello
googleplay -e xxx -p xxx

POST https://android.googleapis.com/auth
panic: 403 Forbidden

[2022-05-12 12:03] druphliu commented on #47
Yes,I am also facing the same issue from last day only.When did you start facing this same problem?

[2022-05-12 14:04] 89z commented on #47
Good morning. I run ran the same command from `master`, with no problem. Make sure you have accepted the Google Play terms and conditions, before trying to use this tool:

https://github.com/89z/googleplay#tool-examples

[2022-05-12 14:11] 89z commented on #47
https://github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/79

[2022-05-12 14:11] 89z commented on #47
@Arshit007

[2022-05-12 14:12] 89z commented on #47
@adtimizer

[2022-05-12 14:33] druphliu commented on #47
How to accepted the Google Play terms and conditions?

[2022-05-12 14:33] druphliu commented on #47
How to accepted the Google Play terms and conditions?

[2022-05-12 14:35] 89z commented on #47
@shifoc can you help?

[2022-05-12 14:37] 89z commented on #47
@cryptax can you help?

[2022-05-12 14:38] shifoc commented on #47
@89z @druphliu @duyuphp you need to login from a phone or emulator on the playstore app and accept the terms and conditions

[2022-05-12 14:59] shifoc commented on #47
A prompt will appear when you login

[2022-05-12 15:28] adtimizer commented on #47
@89z Thanks for the reference. I've tried the suggested flow but i'm getting
panic: 403 Forbidden
before using the email and password i've logged in to the playstore using emulator with the right email and password.
does the fact that my account uses 2FA changes anything? i also tried with app specific password but without any luck
appreciate your help here!

[2022-05-12 15:40] 89z commented on #47
@adtimizer sorry I cant be much help here, as the command works for me. I would suggest trying to install a free app using the Play Store, with a real phone or emulator. Then after that, try the command again.

[2022-05-12 15:48] adtimizer commented on #47
@89z your help so far is great!!!
It seems like when using an account without the 2FA it works.
now i'm stuck with

panic: Purchase required

although i ran the command as you instructed. will see what's the reason.
Thanks again for your help so far

[2022-05-12 15:50] 89z commented on #47
@adtimizer thats a different issue, you have to purchase apps, even free apps. Review the examples for more information:

https://github.com/89z/googleplay#tool-examples

[2022-05-12 16:30] MrLuoXuan opened #48 "Why some app can't get version?"
For example package com.riotgames.league.wildrift, use ./google_play -a com.riotgames.league.wildrift

[code]

Can you get versionCode from this app?

[2022-05-12 16:55] adtimizer commented on #47
@89z
I've followed the instructions one by one but even after purchasing using the command -purchase i get the same error.
Would love to pay for your help here

[2022-05-12 17:02] 89z commented on #48
This APK is 1.699 GB:

https://apkmirror.com/apk/riot-games-inc/league-of-legends-wild-rift/league-of-legends-wild-rift-3-2-0-5531-release/league-of-legends-wild-rift-3-2-0-5531-2-android-apk-download

I am not interested to support something this large. I am closing this for now. If you are willing to make a donation, let me know, and I can add support for this APK:

https://github.com/89z/google

[2022-05-12 17:02] #48 closed

[2022-05-12 17:06] 89z opened #49 "Error retrieving information from server. DF-DFERH-01"
com.smartprojects.MemoryLocker

`github.com/rehmatworks/gplaydl/issues/27`

[2022-05-12 17:07] 89z commented on #49
Fixed:

[code]

[2022-05-12 17:07] #49 closed

[2022-05-12 17:07] 89z commented on #49
https://github.com/rehmatworks/gplaydl/issues/27

[2022-05-12 17:10] 89z commented on #47
@adtimizer please stay on topic. It seems you no longer have the login issue. If you have other issue, then post a new issue, or contact me privately. This issue is strictly for login problem.

[2022-05-12 17:16] 89z opened #50 "Change size code?"
https://github.com/89z/googleplay/blob/9be56964e6426e938ba0d76e3140b23da2811f24/header.go#L124-L130

that APK is large, and I dont support it, so maybe we can use the shorter path after all? Does the short path work with all these:

https://github.com/89z/googleplay/blob/9be56964e6426e938ba0d76e3140b23da2811f24/header_test.go#L11-L30

[2022-05-12 17:40] 89z commented on #48
Correction. This does work, but you must request using ARM:

[code]

[2022-05-12 17:50] andreroggeri opened #51 "panic: cannot unmarshal <nil> into field 2 of type protobuf.Varint"
When trying to run `googleplay -a com.nu.production`

[2022-05-12 17:56] 89z commented on #51
Works with the ARM client:

[code]

I will leave this open for now, as I think I should improve the error message.

[2022-05-12 18:39] adtimizer opened #52 "panic: Purchase required when trying to download app (after running -purchase)"
Hello,
I'm facing an issue with downloading apk.
I've followed the instructions and getting panic: Purchase required.

performing the following:

./googleplay -e xxxxxx@gmail.com -p xxxxxx
./googleplay -d
./googleplay -a com.google.android.youtube
./googleplay -a com.google.android.youtube -purchase
./googleplay -a com.google.android.youtube -v 1529210304

getting the following:

POST https://andr

[2022-05-12 18:44] 89z commented on #51
OK I have improved the error message somewhat:

https://github.com/89z/googleplay/blob/aa8d16e20233deb06d80827f2e55cd96dd0e2a48/header.go#L100-L106

and updated the help a little:

https://github.com/89z/googleplay/blob/aa8d16e20233deb06d80827f2e55cd96dd0e2a48/cmd/googleplay/main.go#L14-L19

I will consider this good for now.

[2022-05-12 18:44] #51 closed

[2022-05-12 18:47] 89z commented on #52
That command works as expected for me:

[code]

I will need to look into this.

[2022-05-12 18:48] 89z commented on #52
Can you try to install the YouTube app on an actual phone or emulator? Then after that, try the command again.

[2022-05-12 19:04] adtimizer commented on #52
@89z tried it (and tried also two other apps) without any luck.
using mac with m1 chip and tried also on a mac with intel cpu.

[2022-05-12 19:34] 89z commented on #52
Can you try this program, and attach `delivery.txt` in a response comment:

[code]

[2022-05-12 19:50] 89z commented on #47
https://github.com/rehmatworks/gplaydl/issues/33

[2022-05-12 20:05] adtimizer commented on #52
{"1":{"21":{"1":3}},"5":{"1":607},"9":{"1":18,"19":{"1":{"1":1652385914322491,"2":182434958,"3":4077330452},"2":1}}}

[2022-05-12 20:18] 89z commented on #52
Sorry, I think I am out of ideas. If you have a Google account that you don't mind sharing, then you can email me the Email and Password. Otherwise, you can try some other programs to see if they work. This is one that I have used in the past:

https://raccoon.onyxbits.de/apk-downloader

[2022-05-12 21:55] 89z commented on #50
Fixed:

https://github.com/89z/googleplay/blob/721b84d18d1d4fd2eeec78ffa4af8c33e4a87426/header.go#L112-L116

[2022-05-12 21:55] #50 closed

[2022-05-13 01:00] MrLuoXuan commented on #48
Thank you very much, my dear author.
I used -armeabi and i can get the version, but other package name com.ea.gp.apexlegendsmobilefps also can't get version, i try to use -armeabi and -arm64, can't get version.
I will do donate, but i'm finding the way to transfer my money to dollar, because i'm from china, do you have alipay or wechatPay?

[root@QY-AppDownloadProxy-HK ~]# ./google_play -a com.ea.

[2022-05-13 02:00] duyuphp commented on #47
@89z Thank you very much, I changed my account and it worked fine

[2022-05-13 03:05] 89z commented on #47
OK I have updated the README again. Why people insist in using a brand new account for this is beyond me. Oh well.

[2022-05-13 03:05] #47 closed

[2022-05-13 03:28] 89z commented on #47
@kronicd

[2022-05-13 04:05] 89z commented on #47
@poseidonsg

[2022-05-13 04:19] poseidonsg commented on #47
Thanks! I am using the python code here: https://github.com/NoMore201/googleplay-api . I have tested both your code and racoon. Both are working fine but I am not sure why the other one has stopped working.

From: ***@***.***>
Sent: Thursday, May 12, 2022 9:06 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [89z/googleplay] [fixed] Login failed (Issue #47)

@poseidonsg<https://gith

[2022-05-13 04:30] 89z commented on #47
@poseidonsg this is not the place to discuss other tools. If you have a problem with my tool, please comment. Otherwise don't.

[2022-05-13 10:56] craftbyte commented on #47
Is it normal to get a 404 though?
[code]

[2022-05-13 12:48] 89z commented on #47
@craftbyte this issue is done, as far as I am concerned. If you're still having a problem, post a new issue.

[2022-05-13 12:49] 89z commented on #47
https://github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/80

[2022-05-13 12:50] 89z commented on #47
@kotko @cuongtobi

[2022-05-13 12:51] 89z commented on #37
@muzzyrost

[2022-05-13 13:05] Arshit007 commented on #47
I am not able to login in the playstore.It is giving me 'Security check is needed, try to visit https://accounts.google.com/b/0/DisplayUnlockCaptcha to unlock, or setup an app-specific password' again and again

[2022-05-13 13:06] 89z commented on #47
Since people don't know how to read, I am locking this issue. As I said before, issue is resolved for author, so that's good enough for me. If you still have issue, post a new issue.

[2022-05-13 13:13] Arshit007 opened #53 "I am not able to login to the playstore"
It is giving me 'Security check is needed, try to visit https://accounts.google.com/b/0/DisplayUnlockCaptcha to unlock, or setup an app-specific password' again and again

[2022-05-13 13:17] 89z commented on #47
https://github.com/89z/googleplay/issues/53

[2022-05-13 13:17] 89z commented on #53
https://github.com/89z/googleplay/issues/47

[2022-05-13 13:23] 89z commented on #53
Works for me with current master:

[code]

[2022-05-13 14:45] adtimizer commented on #52
adding to the above, i've tried it also with windows machine and using 2FA (with app password) and it allows to download apps but only ones that were purchased in the past. apps that weren't installed on my device in the past can't be installed.

[2022-05-13 15:11] 89z commented on #52
This tool isn't, and never was for the purpose of installing apps. This tool is only for getting app information, and downloading apps.

[2022-05-13 15:16] adtimizer commented on #52
@89z what i mean is that the purchase function doesn't work for me.
I'm not trying to install (i meant download). sorry for the confusion.

[2022-05-13 15:27] 89z commented on #52
Please provide example of working command, and example of failing command.

[2022-05-13 15:59] 89z commented on #52
The ARM64 options have been removed. Please try again with current master commit.

[2022-05-14 08:38] MrLuoXuan opened #54 "How to find game support device platform?"
Hello, I have a question about how to find game support device platform.
For example package com.kakaogames.twodin, I tried armeabi arm64 and x86, can't get version from google.
Can you get version info from this package name ?

[2022-05-14 13:00] 89z commented on #54
I found a fix for this, but it will take a while to implement. Please be patient.

[2022-05-14 14:43] muzzyrost opened #55 "Additional .obb files"
Hello, thanks for great application. I've try to download `com.tencent.ig` but its downloading only main apk file. This game need .obb cache files for starting. Is there any chance to get this files?

[2022-05-14 14:53] 89z commented on #53
closing for lack of response

[2022-05-14 14:53] #53 closed

[2022-05-14 15:10] 89z commented on #55
Sorry, I don't think I want to support this. It is possible, but a few problems. First the app `com.tencent.ig` doesn't support `x86`, so any solution will need to be using ARM, which I don't like in general, as its hard to emulate. Further, even if this tool could download OBB, it seems the installation process is quite difficult:

https://musteresel.github.io/posts/2020/12/adb-transfer-android-a

[2022-05-14 15:22] 89z commented on #55
Correction, I think I found a way to get the combined file

[2022-05-14 15:27] 89z commented on #55
Sorry, I dont think I want to support this. It is possible, but a few problems. First the app `com.tencent.ig` doesnt support `x86`, so any solution will need to be using ARM, which I dont like in general, as its hard to emulate. Further, even if this tool could download OBB, it seems the installation process is quite difficult:

https://musteresel.github.io/posts/2020/12/adb-transfer-android-app-

[2022-05-14 15:36] 89z commented on #55
I see that its possible to get a single APK somehow:

https://apkpure.com/pubg-mobile-for-android/com.tencent.ig

but I am not going to download a 1 GB APK to do further testing. If you know a smaller app that uses OBB, I can reopen the issue. Otherwise, donation as previously mentioned.

[2022-05-14 15:59] 89z commented on #52
closing for lack of response

[2022-05-14 15:59] #52 closed

[2022-05-14 17:43] muzzyrost commented on #55
@89z `com.microsoft.office.officehubrow` is great for testing, it has x86 version and just 7MB obb file.

[2022-05-14 18:51] 89z commented on #55
I haven't checked all apps yet, but it seems `com.microsoft.office.officehubrow` works fine without the OBB

[2022-05-14 18:53] 89z commented on #55
OK `com.PirateBayGames.ZombieDefense2` might be a good example. It seems to start without the OBB, but does seem like its missing some stuff

[2022-05-14 18:55] muzzyrost commented on #55
Yes, you can use it without obb file, but it contains additional fonts and libs for some languages. It's just useful example with small size. Other apps can't start without cache obb files.

[2022-05-14 18:56] 89z commented on #55
`com.PirateBayGames.ZombieDefense2` does start without the OBB, but it seems to be missing some text in the main menu. I will do more testing.

[2022-05-14 19:36] 89z commented on #55
OK I have played with this for 30 minutes now, I give up. I tried installing with ADB:

[code]

Also by just dragging the Android folder containing the OBB to the device screen. Dragging seems to have worked:

[code]

but when I start the app, it still seems to be missing the OBB information. If you can provide an example OBB app, and instruction on how to install it, I will proceed with this issu

[2022-05-14 21:04] 89z commented on #54
This should be fixed now:

[code]

Note you probably need to run `googleplay -d -arm64` one time as well.

[2022-05-14 21:04] #54 closed

[2022-05-14 21:54] 89z commented on #55
I think I figured it out

[2022-05-14 22:04] 89z commented on #55
Looks like you can install the OBB like this (need the final slash):

[code]

I will see about adding the OBB support.

[2022-05-14 23:20] 89z commented on #54
also, please star this repo if its helpful

[2022-05-15 02:34] 89z commented on #55
This should be fixed now:

https://github.com/89z/googleplay/blob/e558e378caec2d15414ace4d2fb410c8474da530/delivery.go#L24-L27

if you have any problems let me know.

[2022-05-15 14:34] druphliu opened #56 "How to download x86 apk?"
Hello, I have a question about how to download game x86 apk?You only provide armeabi and ARM64 for download, but there are x86 x86_64 platforms, how to download?

[2022-05-15 14:43] muzzyrost commented on #56
To download x86 versions you don't need to use any keys. But remember that not all apps have x86 versions.

[2022-05-15 14:59] 89z commented on #56
please provide example app

[2022-05-15 15:58] muzzyrost commented on #55
Thanks! That is great solution. But it has small bug for some range of applications. APK Expansion files has next format `[main|patch].<expansion-version>.<package-name>.obb` info from https://developer.android.com/google/play/expansion-files

And when you try to download obb files for apps with main and patch expansion-version it downloads only apk. Few ids for tests:
`com.sigmateam.alienshooterm

[2022-05-15 19:09] 89z commented on #55
This should be fixed now:

https://github.com/89z/googleplay/blob/0ba3a0aeadff5f70fcf37a4a241acca29b46c46a/delivery.go#L79-L93

[2022-05-15 19:09] #55 closed

[2022-05-15 20:12] 89z commented on #55
https://github.com/EFForg/apkeep/issues/93

[2022-05-15 21:19] muzzyrost commented on #55
Now it's great! Thanks a lot @89z

[2022-05-17 05:37] #56 closed

[2022-05-17 12:13] umair-rhl opened #57 "wrong ABI"
I am trying to download com.huuuge.domino , but it returns:
[code]

I thought it was an issue with the flags and I might have to use proper flags, I tried the arm64 one which returns:
[code]

I tried running the tool with the -d flag and mentioning arm64 which returned:
[code]

I believe the proper file for x86 is not getting created in my case, can you please see if this is some code issue or som

[2022-05-17 12:24] umair-rhl commented on #57
I realized it was a mistake on my end. I was missing a - before arm64. Sorry for the trouble and great job with the tool :)

[2022-05-17 12:24] #57 closed

[2022-05-17 12:35] 89z commented on #57
If my tool is helpful, please star the repo

[2022-05-18 11:47] 89z opened #58 "Incorrect response with empty/wrong fields"
com.android.chrome

`github.com/JoMingyu/google-play-scraper/issues/122`

[2022-05-18 11:51] 89z commented on #58
Fixed:

[code]

Result:

[code]

[2022-05-18 11:51] #58 closed

[2022-05-18 11:52] 89z commented on #58
https://github.com/JoMingyu/google-play-scraper/issues/122

[2022-05-18 11:52] 89z commented on #58
@SprutSDM

[2022-05-19 01:46] MrLuoXuan opened #59 "Wht this package can't get version code?"
Hello, my dear author!
I can't get version from this package "com.madhead.tos.zh", the version code is empty, so can you help me to find the way?
Thank you very much!
I have already star this project, and i will invite my friends to star this!

[2022-05-19 02:10] 89z commented on #59
Should be fixed now:

[code]

[2022-05-19 02:10] #59 closed

[2022-05-19 10:30] kotori2 opened #60 "Read device config from file"
https://github.com/89z/googleplay/blob/master/config.go
I would like to customize some fields in device config for non-split apks. Could we add an option to use config file in json?

[2022-05-19 10:49] muzzyrost commented on #59
Hi! I'm trying to research few unaviable apps.

For **com.imangi.templerun2** next issue with both -arm64 and -armeabi:
[code]
All required features in AndroidManifest declared in config.go but it won't get version code.

Part of com.imangi.templerun2 AndroidManifest:
[code]

Example for **com.lensa.app**:
[code]

AndroidManifest for com.lensa.app:
[code]

Looks like it requides **android.hardware

[2022-05-19 11:04] muzzyrost commented on #60
But it already has key for downloading just non-split files: `-s`

[2022-05-19 12:01] 89z commented on #59
Please post new issue.

[2022-05-19 12:06] muzzyrost opened #61 "New 'uses-feature' for config.go"
Hi! I'm trying to research few unaviable apps.

For **com.imangi.templerun2** next issue with both -arm64 and -armeabi

All required features in AndroidManifest declared in config.go but it won't get version code.

Example for **com.lensa.app**

Looks like it requides **android.hardware.camera.any, android.hardware.faketouch and uses-gl-es: '0x30002'**

Example for **com.sygic.aura**

It required

[2022-05-19 12:18] muzzyrost commented on #61
Adding this features to config.go help me download this apps.

My additional list for now:
[code]

[2022-05-19 12:23] kotori2 commented on #60
@89z Exactly. But I still think it's better to have a config file instead of hardcoding everything into source code. I could add x86_64 support directly in config file instead of creating [my fork](https://github.com/kotori2/googleplay/commit/2bdba2e42fac70c1709b23e676beb8abb1995620) :D

[2022-05-19 12:36] 89z commented on #60
If you wish for x86_64 support, please open new issue. Regarding a config file, I think its a good idea, but I would rather improve `googleplay.Phone`, than add support for config file at this time. If I add config file support, then people will just use their own config file, rather than post an issue in order to improve the existing config. I think this project is still small enough, that I woul

[2022-05-19 12:38] kotori2 commented on #60
Agreed. Thanks!

[2022-05-19 12:38] #60 closed

[2022-05-19 12:43] kotori2 opened #62 "x86_64 support"
Maybe by changing the command line flag to `-arch [armeabi/arm64/x86/x86_64]`

[2022-05-19 12:47] 89z commented on #62
Can you clarify why this is needed? Have you found an app, that works with x86_64, but not x86?

Most physical devices are ARM, so the only reason x86 exists, is so that I can download apps to use with emulator. Can you explain your use case?

[2022-05-19 12:57] kotori2 commented on #62
Because since Android 12 Google removed 32bit support for AVD manager. All images in AVD manager are now 64bit only.
<img width="804" alt="image" src="https://user-images.githubusercontent.com/17663689/169298427-574e756c-8f16-4b4c-8da9-57ee59fda922.png">

[2022-05-19 13:09] muzzyrost commented on #61
Anyway I can't get next popular apps:
[code]

[2022-05-19 13:11] 89z commented on #62
If you have an `x86` app, you can use it with an `x86_64` emulator.

I just tested this by install the `x86` version of `kr.sira.metal` app, onto emulator Android 7 Google APIs `x86_64`. Are you able to do this?

[2022-05-19 13:14] kotori2 commented on #62
Unfortunately no. Google removed 32bit runtime from 64bit AVD images since Android 12.

[2022-05-19 13:15] 89z commented on #61
sorry for the trouble, but I am going to have to close this.

I need each app posted to its own issue, as I need to decide for each app, if its something I am willing to support. I don't just blindly accept any app, I have certain criteria. If you can please post separate issue for each app, we can continue the discussion. Thank you!

[2022-05-19 13:17] 89z commented on #62
whaa? those bastards!

[2022-05-19 13:19] 89z commented on #62
OK, can you clarify why you must use Android 12? Why is lower version not acceptable? Sorry for the extra questions, but since I will be the person maintaining this, it needs to be justified.

[2022-05-19 17:55] 89z commented on #62
If you're interested, I have improved the platform selection:

[code]

[2022-05-19 17:56] 89z commented on #56
If youre interested, I have improved the platform selection:

[code]

[2022-05-19 18:20] 89z opened #63 "com.imangi.templerun2"
https://github.com/89z/googleplay/issues/61

[2022-05-19 18:21] 89z commented on #63
Fixed:

[code]

[2022-05-19 18:21] #63 closed

[2022-05-19 18:23] 89z opened #64 "com.lensa.app"
https://github.com/89z/googleplay/issues/61

[2022-05-19 18:23] 89z commented on #64
https://apkpure.com/lensa-photo-pictures-editor/com.lensa.app

[2022-05-19 18:25] muzzyrost opened #65 "com.instagram.android"
[code]

https://www.apkmirror.com/apk/instagram/instagram-instagram/

[2022-05-19 18:37] 89z commented on #64
Fixed:

[code]

[2022-05-19 18:37] #64 closed

[2022-05-19 18:44] 89z commented on #65
Fixed:

[code]

[2022-05-19 18:44] #65 closed

[2022-05-19 18:45] 89z opened #66 "com.sygic.aura"
https://github.com/89z/googleplay/issues/61

[2022-05-19 18:50] 89z commented on #66
Fixed:

[code]

[2022-05-19 18:50] #66 closed

[2022-05-19 18:51] 89z opened #67 "com.hp.printercontrol"
https://github.com/89z/googleplay/issues/61

[2022-05-19 18:52] 89z commented on #67
Fixed:

[code]

[2022-05-19 18:54] 89z opened #68 "com.olzhas.carparking.multyplayer"
https://github.com/89z/googleplay/issues/61

[2022-05-19 18:56] 89z commented on #68
app is 924.6 MB:

https://apkpure.com/car-parking-multiplayer/com.olzhas.carparking.multyplayer

I am not supporting anything over 512 MB, unless someone pays me.

[2022-05-19 18:56] #68 closed

[2022-05-19 18:56] 89z opened #69 "app.source.getcontact"
https://github.com/89z/googleplay/issues/61

[2022-05-19 19:01] 89z commented on #69
Fixed:

[code]

[2022-05-19 19:01] #69 closed

[2022-05-19 19:02] 89z opened #70 "com.illumix.fnafar"
https://github.com/89z/googleplay/issues/61

[2022-05-19 19:07] 89z commented on #70
Fixed:

[code]

[2022-05-19 19:07] #70 closed

[2022-05-19 19:08] 89z opened #71 "com.MobileSimulated.caseforst"
https://github.com/89z/googleplay/issues/61

[2022-05-19 19:08] 89z commented on #71
Fixed:

[code]

[2022-05-19 19:08] #71 closed

[2022-05-19 19:09] 89z opened #72 "com.tgc.sky.android"
https://github.com/89z/googleplay/issues/61

[2022-05-19 19:10] 89z commented on #72
app larger than 512 MB:

https://apkpure.com/sky-children-of-the-light/com.tgc.sky.android

need payment to support this item.

[2022-05-19 19:10] #72 closed

[2022-05-19 19:12] 89z commented on #61
This is done, see linked issues for more info

note I am refusing to support some of the request apps

For any app over 512 MB, I require payment to support.

[2022-05-19 19:12] #61 closed

[2022-05-19 19:22] muzzyrost commented on #61
Thanks 🙏

[2022-05-20 03:44] MrLuoXuan opened #73 "Can you get this package com.levelinfinite.apexlegendsmobile version code ?"
I this this app limited the region, only hongkong google play account can download it?
Do you have any way to download it?

[2022-05-20 03:49] 89z commented on #73
Need to use ARM:

[code]

example:

[code]

[2022-05-20 03:49] #73 closed

[2022-05-20 06:58] duyuphp opened #74 "Can you get this package com.miHoYo.GenshinImpact version code ?"
googleplay -a com.miHoYo.GenshinImpact  -p 2

POST https://android.googleapis.com/auth
GET https://android.clients.google.com/fdfe/details?doc=com.miHoYo.GenshinImpact
panic: wrong ABI

goroutine 1 [running]:
main.main()
	D:/workspaces/go/src/googleplay/cmd/googleplay/main.go:77 +0x6b6

dear author
I have tried several different -p ， but can't get the version code, can you help me?

[2022-05-20 08:51] muzzyrost commented on #74
Just try to update DeviceFeature in config.go file with next features list and rebuild project:
[code]

[2022-05-20 11:37] duyuphp commented on #74
@muzzyrost I replaced the config, but it still doesn't work

[2022-05-20 11:39] 89z commented on #74
@muzzyrost I am going to ask you to stop making this type of suggestion. If you know the specific lines that are missing, go ahead, but otherwise please stay quiet in these matters. Thank you.

@duyuphp please stand by.

[2022-05-20 11:46] 89z commented on #74
Fixed:

https://github.com/89z/googleplay/blob/49c75aa03004987d28f36a0d08451ed107696399/config.go#L83-L84

[code]

[2022-05-20 11:46] #74 closed

[2022-05-20 11:47] muzzyrost commented on #74
@89z ok, sorry for that

[2022-05-20 14:30] kelvinxue opened #75 "panic: wrong ABI"
Hi,

I am trying to download binance apk and found this error

the play store url:

https://play.google.com/store/apps/details?id=com.binance.dev

the command:

googleplay -a com.binance.dev

The results logs:

POST https://android.googleapis.com/auth
GET https://android.clients.google.com/fdfe/details?doc=com.binance.dev
panic: wrong ABI

goroutine 1 [running]:
main.main()
	/home/xxx/dev/googlepl

[2022-05-20 14:39] 89z commented on #75
Fixed:

[code]

[2022-05-20 14:39] #75 closed

[2022-05-20 15:00] kelvinxue opened #76 "panic: wrong ABI"
Hi,

I found that the binance issue fixed quickly, thx

Then I tried this xt app I got wront ABI again

url: https://play.google.com/store/apps/details?id=com.app.xt

command:

googleplay -a com.app.xt

results:

POST https://android.googleapis.com/auth
GET https://android.clients.google.com/fdfe/details?doc=com.app.xt
panic: wrong ABI

goroutine 1 [running]:
main.main()
	/home/xxx/dev/googleplay/

[2022-05-20 15:04] 89z commented on #76
please star this repo to continue, thank you

[2022-05-20 15:04] 89z commented on #62
closing for lack of response

[2022-05-20 15:04] #62 closed

[2022-05-20 15:10] kelvinxue commented on #76
already starred, nice project

On Fri, May 20, 2022 at 11:04 PM Zombo ***@***.***> wrote:

[2022-05-20 15:21] 89z commented on #76
Fixed:

[code]

[2022-05-20 15:21] #76 closed

[2022-05-21 13:39] 89z commented on #58
@rentheduke

[2022-05-21 15:48] muzzyrost opened #77 "Last version is broken"
[code]

[2022-05-21 15:52] 89z commented on #77
Works for me:

[code]

try again with current master

[2022-05-21 16:01] 89z commented on #77
Oh I see, is a language issue:

[code]

[2022-05-21 16:02] 89z commented on #77
For now, you can just remove these lines:

https://github.com/89z/googleplay/blob/7b6d08ec5802b553e3b4ae20bca8259f8c512dca/cmd/googleplay/googleplay.go#L34-L38

I want this code to remain, I will see if I can think of a permanent fix. Stand by.

[2022-05-21 16:33] 89z commented on #77
Can you please run this code, and post the resulting file?

[code]

[2022-05-21 16:47] muzzyrost commented on #77
Here is file, my account langusge is ukrainian:
[org.telegram.messenger.txt](https://github.com/89z/googleplay/files/8747998/org.telegram.messenger.txt)

[2022-05-21 16:54] 89z commented on #77
OK I tested again with this one:

[code]

since its old, I am able to easily differ the `uploadDate` against the current date. However in the response I don't see any Unix time, only the string time, and only in this format:

[code]

rather than proper RFC 3339:

[code]

So, I guess I will need to make date transformation option, with default turned off. I am going to lunch, I can fix this after l

[2022-05-21 17:00] 89z commented on #77
Ooh, I see you can change the language:

[code]

hm...

[2022-05-21 17:27] muzzyrost commented on #77
Google just use my profile setting. It's not a big issue, I can just change settings, but for other users may need some additional info in readme.

[2022-05-21 18:00] 89z commented on #77
OK this should be fixed now:

https://github.com/89z/googleplay/blob/2dfb9c52b791019d24eb68448c96c5c392ced583/cmd/googleplay/googleplay.go#L18-L21

If parsing fails, then date will just use the text as is. I could add an option to force English, but I think this is good enough for now.

[2022-05-21 18:00] #77 closed

[2022-05-21 18:16] rentheduke commented on #58
I'm not sure how this fixes the google-play-scraper library @89z

[2022-05-21 18:19] 89z commented on #58
Its an alternate library that works, if you're interested

[2022-05-21 18:27] rentheduke commented on #58
I would be interested and gladly donate to you as you suggest though this is in Go and I need it in Python :/

[2022-05-24 08:18] duyuphp opened #78 "panic: assignment to entry in nil map"
googleplay -device

panic: assignment to entry in nil map

goroutine 1 [running]:
github.com/89z/format/protobuf.add[...](...)
	D:/workspaces/go/pkg/mod/github.com/89z/format@v1.35.5/protobuf/private.go:12
github.com/89z/format/protobuf.Message.AddString(0x7115e0?, 0x109c88?, {0x72cff0?, 0x1?})
	D:/workspaces/go/pkg/mod/github.com/89z/format@v1.35.5/protobuf/public.go:19 +0x35c
github.com/89z/goog

[2022-05-24 13:00] 89z commented on #78
Sorry about the trouble

I had to update my ProtoBuf software, but I made a mistake in the code. I will try to fix it today. Until then, you can use old version:

https://github.com/89z/googleplay/releases/tag/v1.9.5

[2022-05-24 14:01] 89z commented on #78
OK this should be fixed now

If you still have problem - let me know. Thanks

[2022-05-24 14:01] #78 closed

[2022-05-24 15:23] duyuphp opened #79 "panic: cannot unmarshal <nil> into field 1 of type protobuf.Varint"
googleplay -a com.tencent.androidqqmail  -v 10144055 -p 1 -s

POST https://android.googleapis.com/auth
GET https://play-fe.googleapis.com/fdfe/delivery?doc=com.tencent.androidqqmail&vc=10144055
panic: cannot unmarshal <nil> into field 1 of type protobuf.Varint

goroutine 1 [running]:
main.main()
	D:/workspaces/go/src/googleplay/cmd/googleplay/main.go:74 +0x710

[2022-05-24 15:41] duyuphp commented on #79
Because I don't know if I want to download a single package or multiple packages, I need -s，thanks

[2022-05-24 15:48] duyuphp commented on #79
Because I only want a case of APK or APK+OBB

[2022-05-24 15:49] duyuphp commented on #79
I don't know if there is such a situation as APK APK OBB, this is impossible for me to handle

[2022-05-24 15:52] 89z commented on #79
I dont think so, but this one is similar:

[code]

[2022-05-27 12:51] HannahSlaughter88 opened #81 "CreateDirectDeposits...."

[2022-05-27 12:52] #81 closed

[2022-05-27 12:56] HannahSlaughter88 opened #82 "CreateDirectDeposits...."

[2022-05-27 12:58] 89z commented on #82
I don't know what the hell you think you're doing, but it stops now. You wont be able to comment or post any more issues. If you have an issue, you can contact me at the email on my bio.

[2022-05-27 12:58] #82 closed

[2022-05-27 23:36] 89z commented on #37
https://github.com/NoMore201/googleplay-api/issues/162

[2022-05-28 03:26] 89z opened #83 "com.supercell.brawlstars"
https://play.google.com/store/apps/details?id=com.supercell.brawlstars

`github.com/danieliu/play-scraper/issues/90`

[2022-05-28 03:34] 89z commented on #83
Fixed:

[code]

[2022-05-28 03:34] #83 closed

[2022-05-28 03:34] 89z commented on #83
https://github.com/danieliu/play-scraper/issues/90

[2022-05-28 03:35] 89z commented on #83
@vineet-agrawal

[2022-05-28 03:47] vineet-agrawal commented on #83
Hi @89z ,

This issue persist, please follow the steps mentioned below to reproduce the issue-
1. Install latest version of play scraper
- `pip install play_scraper`
2. Import play scraper module in the terminal
- `import play_scraper`
3. fetch the app_info
- `app_info = play_scraper.details('com.supercell.clashofclans')`

**Output:**
![image](https://user-images.githubusercontent.com/106417653/17

[2022-05-28 03:50] 89z commented on #83
this is a different package, I cannot help you with Python package

[2022-05-28 03:58] vineet-agrawal commented on #83
@89z , to whom should I assign this bug so that, this can be resolved as soon as possible?

[2022-05-28 03:59] 89z commented on #83
My package can get the details now.

If you need to use the other package, I cannot help you.

[2022-05-28 13:04] 89z commented on #37
@marty0678

[2022-05-29 17:42] kelvinxue opened #84 "versionCode missing"
Hi,

I pulled the latest master branche code and try this:

$ googleplay -a com.binance.dev

then I got this error:

POST https://android.googleapis.com/auth
GET https://android.clients.google.com/fdfe/details?doc=com.binance.dev
panic: com.binance.dev versionCode missing
Check nativePlatform

goroutine 1 [running]:
main.main()
	/home/xxx/dev/googleplay/cmd/googleplay/main.go:88 +0x85b

Thx

[2022-05-29 17:44] 89z commented on #84
Default platform is x86:

[code]

In this case, the app does not offer x86 version, so you need to choose another platform:

[code]

[2022-05-29 17:44] #84 closed

[2022-05-30 08:12] ezraguo-dev opened #85 "panic error：versionCode Missing"
Hello,

I found that googleplay did not work on downloading some APKs.  I followed your instruction to get APP details, but I got this error,
![image](https://user-images.githubusercontent.com/55737412/170947626-539d4158-886d-486a-b8cc-c1cedc0f1b00.png)

It seems like a loop, I need the APP detail to get the version code, but I also need to provide the version code to get the APP detail.

[2022-05-30 08:18] ezraguo-dev commented on #85
This problem is similar to the closed case "versionCode missing #84".
I tried to switch the platform from x86 to arm, but got below error information,
![image](https://user-images.githubusercontent.com/55737412/170949149-29b0127f-16f2-4378-89e1-5e4b18b68d16.png)

[2022-05-30 08:23] #85 closed

[2022-06-03 11:25] bit-rocket opened #86 "403 Forbidden when auth"
Hi, @89z Thanks for your project.
I pulled the code down and built it successfully, but when I tried to run,
[code]

it showed the error messages below,
[code]
Could you help?

[2022-06-03 11:28] bit-rocket commented on #86
I have tryied the email with password in play store page https://play.google.com/store/apps , it can login successfully.
I am not sure why the account can not work in the above case.

[2022-06-03 11:44] 89z commented on #86
The login command works for me:

[code]

Sorry, I no longer provide free help, as people were abusing it. If you wish to make a donation, I can help you to solve the problem here, via email or Discord. Otherwise, good luck to you.

[2022-06-03 11:44] #86 closed

[2022-06-05 12:32] 89z opened #87 "Login Failed"
`github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/83`

[2022-06-05 12:33] 89z commented on #87
Fixed:

[code]

[2022-06-05 12:33] #87 closed

[2022-06-05 12:33] 89z commented on #87
https://github.com/ClaudiuGeorgiu/PlaystoreDownloader/issues/83

[2022-06-05 12:33] 89z commented on #87
@msebastian100

[2022-06-07 03:09] duyuphp opened #88 "obb can't download"
com.netease.ma100asia obb can't download

[2022-06-07 03:10] duyuphp commented on #88
googleplay -a com.netease.ma100asia -p 2
POST https://android.googleapis.com/auth
GET https://android.clients.google.com/fdfe/details?doc=com.netease.ma100asia
Title: Dead by Daylight Mobile
Creator: Netease Games Global
UploadDate: 12 Mei 2022
VersionString: 1.169521.169521
VersionCode: 169521
NumDownloads: 1.324 M
Size: 2.428 GB
File: APK APK APK APK APK OBB OBB
Offer: 0 USD

apk can download ，b

[2022-06-07 03:28] 89z commented on #88
sorry, I don't offer free support for any item over 512 MB. If you wish to purchase support, please contact me using info in my bio. Thanks

[2022-06-07 03:28] #88 closed

[2022-06-08 18:08] yuanyal commented on #85
Hi @ezraguo-dev I got the same error: arm64-v8a.json: no such file or directory

How did you resolve it? thanks

[2022-06-10 19:42] gendelbendel opened #89 "versionCode missing, check nativePlatform"
When running:
[code]

It appears to be missing for -p 1 and -p 2, only -p 0 returns results, even though it errors.

[2022-06-10 19:49] gendelbendel commented on #89
Nevermind, fixed it.

`./googleplay -device -p 1`

Then ran

`./googleplay -a com.awesomepiece.castle -p 1`

[2022-06-10 19:49] #89 closed

[2022-06-10 21:03] gendelbendel opened #90 "Silence HTTP requests with flag"
When running:
`./googleplay -a com.google.android.youtube`

Expected output:
[code]

Recieved output:
[code]

Add a flag `-q` which will silence HTTP requests from appearing in output.

[2022-06-10 21:19] 89z commented on #90
In general, I think its a bad idea to turn off logging. The default log level is "info", which just does one line per request. "verbose" is also available, which dumps the full requests. However I have added an option to turn it off:

[code]

Also, the request go to standard error, so you could just redirect that. I think on linux, you can do something like this:

[code]

[2022-06-10 21:19] #90 closed

[2022-06-11 12:16] muzzyrost opened #91 "401 Unauthorized"
[code]

[2022-06-11 12:58] 89z commented on #91
I think this is my fault. My tool has kind of been abusing OAuth, in that I request a new Access Token for every request, instead of reusing the Access Token for one hour like you're supposed to. I did some testing, and using the same exact request, sometimes it works:

[code]

and sometimes not:

[code]

so I probably need to cache the Access Token, in addition to the refresh token. The drawback

[2022-06-11 13:46] muzzyrost commented on #91
Thanks for info, I'll just wait some time.

[2022-06-11 14:38] 89z commented on #91
Update, I found some code that seems to work every time, without having to cache the Access Token. I will see if I can make a commit

[2022-06-11 15:29] shifoc commented on #91
I have the same error

[2022-06-11 15:31] 89z commented on #91
I am closing this, as it seems it was a temporary server error. @muzzyrost if you still have issue let me know

[2022-06-11 17:32] ysb commented on #91
@muzzyrost did it resolve? do you still get same error?

[2022-06-11 18:51] ysb commented on #91
@89z hi, i didn't want to create a new issue but I get same error. auth service returns 401 unauthorized. Tried with several accounts and result is same. Is it a server issue on Google side? Thanks.

[2022-06-11 19:01] shifoc commented on #91
Yes I still have it too

[2022-06-11 19:02] 89z commented on #91
As shown above, its a server error. If you manage to get a token back, you can save it and reuse for up to one hour. I am hesitant to make a change at this time, as it could be a temporary error. If the error continues after one day, I will pursue a solution. If someone has an immediate need, I can implement a solution for a fee. Otherwise please be patient.

[2022-06-12 00:44] 89z commented on #91
I think I figured this out. It seems the server is requiring the `app` and `client_sig` values now:

https://github.com/89z/googleplay/blob/265a06ed60cfe635aa056697fe6c27bfc5ab489d/research/auth.go#L19-L22

I pulled the values from another repo. I need to see if I can dump them myself, then I will make a commit.

[2022-06-12 03:45] 89z commented on #91
OK I have confirmed the missing values, by dumping Android:

https://github.com/89z/googleplay/blob/0315e797d97e1715b4017a8f4a6b28ca0c5f7681/research/28/auth.go#L23-L24

I should be able to make a commit soon

[2022-06-12 04:24] 89z commented on #91
This should be fixed now:

https://github.com/89z/googleplay/blob/v1.9.8/play.go#L20-L21

[2022-06-12 04:24] #91 closed

[2022-06-12 06:32] shifoc opened #92 "403 Forbidden"
when I try this command

`./googleplay -email  MY_EMAIL  -password MY_PASS`

I get an error

[2022-06-12 08:22] muzzyrost commented on #91
Many thanks, now its great!

[2022-06-12 13:12] 89z commented on #86
https://github.com/89z/googleplay/issues/92

[2022-06-12 13:12] 89z commented on #47
https://github.com/89z/googleplay/issues/92

[2022-06-12 13:15] 89z commented on #92
works fine here:

[code]

This issue has already been posted multiple times. Either review the existing issues, or if you wish to pay for support, we can continue.

[2022-06-12 13:15] #92 closed

[2022-06-17 10:10] Vitaliy100 opened #94 "Can't get details of PvZ2 and download it"
The game has version for North America and the rest of world
I tried on both but below I will provide what I got when I tried to get row version.
When I'm trying to get details of the app it tells me check nativePlatform(the app is available for both armeabi-v7a and arm64-v8a)
[code]
When I'm trying to get the apk it fails to get one and says about geo-blocking(But I can get the app from Play Stor

[2022-06-17 12:18] 89z commented on #94
I was able to fix this locally, but then I realized that the size is 786 MB, if you include the OBB file.

Sorry, but I don't offer free support for anything over 512 MB. If you are willing to make a donation, I can add support for this. Otherwise good luck.

[2022-06-17 12:18] #94 closed

[2022-06-17 12:32] Vitaliy100 commented on #94
Game can download obb. On first launch it downloads obb(but in case you already placed one in obb folder, it compares the hash of it. If it doesn't match, it deletes it and downloads original one. But only on first launch.)

[2022-06-17 12:33] 89z commented on #94
I am not supporting this app, as the total size is over 512 MB as I have already said. Unless you can make a donation, please respect my decision.

[2022-06-17 12:33] 89z commented on #94
I am not supporting this app, as the total size is over 512 MB as I have already said. Unless you can make a donation, please respect my decision.

[2022-06-17 16:17] Vitaliy100 commented on #94
There seems to be the same issue with other app as well(it's less than 512 MBs). Has North American version and the version for the rest of world as well.
Talking about Plants vs. Zombies.(com.ea.game.pvzfree_row. For North American version - com.ea.game.pvzfree_na)

[2022-06-17 17:40] 89z commented on #94
it seems you removed your comment, so I am reverting this change. I suggest in the future you don't fuck with me.

[2022-06-17 19:04] 89z commented on #94
For my reference. Shithead was @Vitaliy100 , who has now deleted and remade the same account.

[2022-06-20 01:58] Parammarok opened #95 "is it possible to make it deployable on heroku ?"
hi, I would know if it is possible to make it deployable on heroku ?

[2022-06-20 02:14] 89z commented on #95
https://github.com/89z/googleplay#issues

[2022-06-20 02:14] #95 closed

[2022-06-30 08:17] MrLuoXuan opened #96 "google play login failed"
When use -email -password to login, return 403!
panic: 403

[2022-06-30 08:21] MrLuoXuan commented on #96
more detail information is below.
POST https://android.googleapis.com/auth
panic: 403 Forbidden

goroutine 1 [running]:
main.main()
        /Users/tsir/work/qy_go_code/googleplay/cmd/googleplay/main.go:54 +0x7d0

Process finished with exit code 2

[2022-07-01 10:16] umair-rhl opened #97 "Tool broken?"
Hi, I wanted to know if this tool doesn't work anymore? I have been trying to get it working but it returns with a 403 forbidden error every time we try to log in:

root@wave2:~/app-wave2/googleplay/cmd/googleplay# ./googleplay -email somerandomemail@gmail.com -password 12345
POST https://android.googleapis.com/auth
panic: 403 Forbidden

goroutine 1 [running]:
main.main()
        /root/app-wave2/g

[2022-07-01 10:57] umair-rhl commented on #97
also are you sure this has nothing to do with the tool?
https://myaccount.google.com/lesssecureapps , google doesn't allows usage of credentials to third party apps anymore

[2022-07-01 12:12] 89z commented on #97
https://github.com/89z/googleplay#issues

[2022-07-01 12:12] #97 closed

[2022-07-01 13:19] owais-redhunt commented on #97
@89z Does this tool still work perfectly on your end because it is broken for some people I know.

[2022-07-07 05:49] fleetof opened #98 "Can you get package com.amazon.kindle detail ?"
[code]

same as `jp.naver.line.android`, `com.zhiliaoapp.musically`

[2022-07-07 12:46] 89z commented on #98
https://github.com/89z/googleplay#issues

[2022-07-07 12:46] #98 closed

[2022-07-07 18:27] cativo commented on #98
This is an issue with the platform, you need to specify the right platform for the app, for example `armeabi-v7a` as follows :
` .\googleplay -a COM.APP.SAMPLE -device -p 1`

if it works then good otherwise use a different platform from the list below

  -p int
        nativePlatform
        1: armeabi-v7a
        2: arm64-v8a
        0: x86

[2022-07-07 18:33] 89z commented on #98
I have removed the previous comment from @cativo. The reason I didn't answer the question, is explained by the link I put. If you comment like that again, you will be banned.

[2022-07-07 18:37] cativo commented on #98
@89z it is up to you if you don't want to offer support, but leave it to the community to help each others and then the ones whom are willing to support you will do. You did not offer support thus I believe I am free to comment if I can help.

Don't force people to support you while you are offering this project as an open source. They will do by nature when possible.
This way no one will be offer

[2022-07-07 18:51] 89z commented on #98
No. If they help each other, then I don't get any money. I am in serious financial need, so your actions are actively hurting me.

Nope. This is my repo, so you can only comment if I allow it.

The source code is free. Support is not free. I am not forcing anyone to pay. However if they want help, then they either need to pay, or get help somewhere else. I am locking this issue, as I don't want to

[2022-07-17 12:03] EMREOYUN opened #99 "play_test.go does have undeclared variables"
From the line 9 in play_test.go
`func Test_Auth(t *testing.T) {
   auth, err := New_Auth(email, password)
   if err != nil {
      t.Fatal(err)`

Both `email` and `password` are undeclared in the file

[2022-07-17 12:17] 89z commented on #99
This is intentional. Those are my private account details. If you have another way to do it, I will consider it

[2022-07-17 12:20] 89z commented on #99
https://github.com/89z/googleplay#issues

[2022-07-17 12:20] #99 closed

[2022-07-17 14:46] EMREOYUN commented on #99
You can declare empty string to it and you can comment to fill it with your details but you will not consider it without payment, I guess. So I will left this comment to other users.

[2022-07-26 03:12] 89z commented on #96
hey sorry I am busy with another contract - I will try to look at this soon

[2022-07-26 23:36] 89z commented on #96
sorry again about the delay. I have not forgotten about this issue. Another client was giving me a hard time. I will look at this soon

[2022-07-27 20:36] 89z commented on #96
OK I was finally able to test this, seems it is working correctly:

[code]

I would recommend checking the notes here:

https://github.com/89z/googleplay#tool-examples

[2022-07-29 13:49] 89z commented on #96
gonna close this. If you have an comments I can reopen - thanks

[2022-07-29 13:49] #96 closed

[2022-08-05 02:55] mkamranmazhar opened #101 "Downloaded APK Not Working in Real Android Device"
Thanks For Amazing Tool.

This Tools is Working Perfect from my end but the issue is this APK File Not working in Real Android Device.

i also tested and Downloaded the same name APK File from Online APK Downloader like evozi & its Working/installing in Real Android Device.

So let me know regarding this issue.

[2022-08-05 03:00] 89z commented on #101
https://github.com/89z/googleplay#business

[2022-08-06 15:28] CStyleIO opened #102 "INSTALL_FAILED_NO_MATCHING_ABI"
example

adb: failed to install C:\Users\X\Downloads\googleplay-master\googleplay-master\cmd\googleplay\com.microsoft.skydrive-2026610103.apk: Failure [INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113]

[2022-08-06 15:29] 89z commented on #102
https://github.com/89z/googleplay#business

[2022-08-06 15:29] #102 closed

[2022-08-07 17:43] mkamranmazhar opened #103 "Downloaded APK Not Working in Real Android Device"
Thanks For Amazing Tool.

PayPal Payment Sent Please Also check Your Discord:

This Tools is Working Perfect from my end but the issue is this APK File Not working in Real Android Device.

i also tested and Downloaded the same name APK File from Online APK Downloader like evozi & its Working/installing in Real Android Device.

So let me know regarding this issue.

[2022-08-07 17:46] 89z commented on #101
https://github.com/89z/googleplay/issues/103

[2022-08-07 17:46] 89z commented on #103
https://github.com/89z/googleplay/issues/101

[2022-08-07 17:46] #103 closed

[2022-08-07 17:51] 89z commented on #101
please provide example app

[2022-08-07 18:22] mkamranmazhar commented on #101
com.facebook.lite
org.videolan.vlc
com.pinterest

All Brand Apps not install.
Please test i will send you more list of Apps.

Regards.

[2022-08-07 18:27] 89z commented on #101
please confirm your device platform

- arm64-v8a
- x86
- armeabi-v7a
- other

[2022-08-07 18:30] mkamranmazhar commented on #101
please confirm your device platform?

Did You mean by Mobile Device?
i already tested with 3 Different Android Mobile Phone Devices.

Regards.

[2022-08-07 18:33] 89z commented on #101
please provide the native platform of the Android device, from the list above. I will not ask again.

[2022-08-07 18:56] 89z commented on #101
https://play.google.com/store/apps/details?id=com.liuzh.deviceinfo

[2022-08-08 02:08] mkamranmazhar commented on #101
Thank You for Providing me URL.
i also send you details SS via discord.

Platform : qcom

[2022-08-08 02:18] 89z commented on #101
nope. Its listed under SOC, ABI

[2022-08-08 02:22] mkamranmazhar commented on #101
Okay,
Yes You are right.
it's : arm64-v8a

[2022-08-08 02:38] 89z commented on #101
default ABI is x86:

[code]

So if you want a different one, you need to use the correct argument:

[code]

[2022-08-08 03:01] mkamranmazhar commented on #101
Thanks For the update.

APK Downloaded successfully with this argument -p 2
but another error in real device ( Parse Error ) There was a problem while parsing the package.
this time error changed.

[2022-08-08 03:31] 89z commented on #101
Sorry, I am not able to emulate ARM devices, so I cannot help you. If anyone know how to do this with Android Studio, then we can continue. Otherwise, good luck to you.

[2022-08-08 03:41] mkamranmazhar commented on #101
Again Thanks for the update.
Please do not mind but the issue is not resolved for what i paid?

as per your commitment i process the paypal and before process i make sure All APK Will Be Work? Here is Your Answers.
yes no problem - I can fix the issue

[2022-08-08 03:53] 89z commented on #101
sorry for the trouble, but unless I can emulate ARM, then I cannot help to fix the issue. Currently I can only emulate x86 and x86_64, because of limitations with Android Studio. I will keep your donation, and if you have issue in the future I can provide service at no charge. Or if you know a way to emulate ARM with Android Studio, then I can help with this issue.

[2022-08-08 04:06] mkamranmazhar commented on #101
Again Thanks for the update.
Please visit this URL : apps.evozi.com/apk-downloader/
All APK From this Provider is Working %100 Fine with ARM Devices.
So that mean it's possible to resolve this issue & You may also Search Google ( emulate ARM with Android Studio ) lot's of information available.

i am basically PHP Developer so don't have much experience in Android Studio.

[2022-08-11 08:38] mkamranmazhar commented on #101
Please let me know update.
Have you fixed the issue?

[2022-08-11 21:32] 89z commented on #101
I am sorry for your waiting. I recently started a new job, so I don't have as much free time as I used to. If you are still interested to continue, I will need an additional 80 USD. If you do not wish to continue, I can refund the current payment right away. Thanks and sorry again.

[2022-08-12 04:07] mkamranmazhar commented on #101
additional 80 USD ?
what you will offer in this price ?
All APK Work on All Devices ?
All APK must be latest version which is available on Google Play Store ?
Example Add Feature to Download the Current APK Version From Play Store.

Do You also Add multi jobs? example Your tool work only 1 time 1 job.
Example:  not possible to download the 2 APK at single time only 1 APK at a time when its finish

[2022-08-12 18:46] mkamranmazhar commented on #101
Dear Steven Penny,

i am still waiting for Your update.

[2022-08-12 19:00] 89z commented on #101
please be patient - I fell very sick this morning - so I am trying to get better - hopefully I can give you a full response later today

[2022-08-12 19:26] mkamranmazhar commented on #101
first of all get well soon.
and thanks for the update i will wait no problem.

stay healthy and keep update.

[2022-08-14 15:28] 89z commented on #101
yes

I offer to solve the original posted issue

this is not possible, for example ARM APK will not work on some x86 devices. However assuming the APK platform matches the device platform, then yes

yes

current program requires user to input version number, which can be obtained using details command. If you are requesting a new feature, it would be an additional charge.

current program download

[2022-08-14 15:37] mkamranmazhar commented on #101
Thanks For Your Update.
i can pay final 80 USD no more additional charge.

All APK Work on All Devices ?
All APK must be latest version which is available on Google Play Store ?
Example Add Feature to Download the Current APK Version From Play Store.

Do You also Add multi jobs? example Your tool work only 1 time 1 job.
Example: not possible to download the 2 APK at single time only 1 APK at a tim

[2022-08-14 15:42] 89z commented on #101
I have refunded the original payment. With all due respect, you are not making much sense with you comments, so I dont want to deal with this anymore. Good luck to you.

[2022-08-14 15:42] #101 closed

[2022-08-25 22:39] IamDopey opened #104 "uploadDate not found, try another platform"
Hello! In many applications it keeps giving me the error below and I don't know how to solve it:

POST https://android.googleapis.com/auth
GET https://android.clients.google.com/fdfe/details?doc=com.roblox.client
panic: uploadDate not found, try another platform

goroutine 1 [running]:
main.main()
	~/googleplay/cmd/googleplay/main.go:75 +0x505

[2022-08-25 22:46] 89z commented on #104
https://github.com/89z/googleplay#business

[2022-08-25 22:46] #104 closed

[2022-08-26 08:42] IamDopey commented on #104
What does that mean, "uploadDate not found, try another platform"?

[2022-08-26 10:30] 89z commented on #104
I only provide paid support for issues

[2022-08-31 06:34] zephinzer opened #105 "Linux build"
Hi there, how's your release process like? I would like to add a Linux build for this but I'm not sure how to contribute to that

[2022-08-31 11:09] 89z commented on #105
https://github.com/89z/googleplay#money

[2022-08-31 11:09] #105 closed

[2022-09-24 00:11] 89z commented on #37
https://github.com/NoMore201/googleplay-api/issues/164

[2022-10-09 10:41] dzervas commented on #104
@iamd0pey I think that you have to `-purchase` the specific app first for it to work. Worked for me at least

[2022-10-10 16:43] shifoc commented on #92
I managed to fix it.

Log in on the web, set up two-factor authentication, and then turn on app passwords. Now instead of logging in with your password, you should input the app password you created.

[2022-10-10 21:09] 89z commented on #92
note for any who might visit this page. the above answer is NOT needed in all cases. For example, I do not use 2FA, and my normal password works just fine with this tool

[2022-10-13 21:39] 89z commented on #37
https://github.com/rehmatworks/gplaydl/issues/35

[2022-10-13 21:39] 89z commented on #37
@qalekhani

[2022-10-20 08:18] neervanbiqs opened #106 "Downloading different abis"
How to download a specific abi, eg x86_64? x86 downloaded by default.
Is it possible to download the whole apk file instead of splitted?

[2022-10-20 08:20] jayluxferro commented on #106
@neervanbiqs use the following combination.

[code]

This is the full usage:
[code]

[2022-10-20 08:43] neervanbiqs commented on #106
Thanks! And if I need exactly x86_64 version?

[2022-10-20 08:47] jayluxferro commented on #106
Assuming the bundle url is `com.netflix.mediaclient` and the version is `50282` then this is the command to get the x86 version.

[code]

[2022-10-20 09:03] neervanbiqs commented on #106
Yes, it is x86, I understand. But I need to download exactly x86_64, not x86.
I found that if I exec command googleplay -a "apk" -s (without -p) it downloaded the universal package that contains all abis so I could install --abi x86_64. But the size of the package is much bigger.

[2022-10-20 09:06] neervanbiqs commented on #106
And unfortunately not all apk downloaded universal

[2022-10-20 09:06] jayluxferro commented on #106
I get you now.

[2022-10-20 10:08] #106 closed

[2022-10-20 11:09] 89z commented on #106
@jayluxferro I appreciate that you're a sponsor, but unless you wish to raise your contribution by a factor of 10, your actions here are not acceptable. See here:

https://github.com/89z/googleplay#money

[2022-10-20 11:11] jayluxferro commented on #106
Well noted

[2022-10-20 11:20] 89z opened #107 "com.android.chrome"
[code]

[2022-10-20 11:21] 89z commented on #107
https://github.com/NoMore201/googleplay-api/issues/165

[2022-10-20 23:03] 89z commented on #107
I got this working with API 24

https://github.com/89z/googleplay/blob/6c09dfd70ea3da9cf430d0a556c94e5df05977bb/config.go#L152-L156

but it needs two requests.

[2022-10-20 23:38] 89z commented on #107
https://github.com/89z/googleplay/blob/master/config.go#L125-L127

[2022-10-21 02:56] 89z commented on #107
Fixed:

[code]

[2022-10-29 06:38] IRGC commented on #107
@89z  com.gaana package shows error 404 item not found ?

[2022-10-29 14:09] 89z commented on #107
works fine:

[code]

[2022-10-29 14:11] IRGC commented on #107
does not with -s flag

[2022-10-29 14:37] 89z opened #108 "com.gaana"
[code]

[2022-10-29 14:37] 89z commented on #107
https://github.com/89z/googleplay/issues/108

[2022-10-29 14:37] 89z commented on #108
https://github.com/89z/googleplay/issues/107

[2022-10-29 16:11] 89z commented on #108
https://play.google.com/store/apps/details?id=com.gaana

[2022-10-29 17:17] 89z commented on #108
direct link works for web client:

https://play.google.com/store/apps/details?id=com.gaana

as well as search:

https://play.google.com/store/search?q=com.gaana

however search does not work for Android client with Virtual Device:

[code]

also Android client has no way to go directly to a details page of a given ID. I tried copy pasting the details page above into Android Chrome, but it did not t

[2022-10-29 19:15] 89z commented on #108
So deep link works with physical device, but with Virtual Device I get:

I tried all the API versions above. I also tried installing the split version which works, so we know `x86` is fine. If someone can figure out how to open the app in Play Store on a Virtual Device, or if someone knows another program on GitHub or similar that can get `com.gaana` as a single APK, then let me know.

Until then,

[2022-10-30 02:53] 89z commented on #108
I am going to reopen this, as it seems GenyMotion works for this situation, while Android Studio does not. I will do more testing

[2022-10-30 16:25] 89z commented on #108
as @iamDonkey mentioned, the comment I am quoting is not correct. App info is available and app can be downloaded, but currently only as split, not single APK.

[2022-10-30 21:17] 89z commented on #108
OK I have done some more tests, and looks like the problem is with `X-DFE-Device-Id`, not the `User-Agent`. So I need to look over the checkin request to see what is different. Will keep trying.

[2022-10-30 21:59] 89z commented on #108
OK I was finally able to capture the `/checkin` request from GenyMotion. I was having trouble because I found out the request is actually sent upon boot, rather than upon first running the Play Store, so you have to be quick to catch it. Will do more research.

[2022-10-31 03:10] 89z commented on #108
OK after more testing, with GenyMotion, the response from the `/checkin` request is only valid after you sign in on the device, so some other request is being sent. I will keep researching.

[2022-11-01 02:32] 89z commented on #108
Since this issue seems to have a little interest, I wanted to give an update on my progress. The key part in the Play Store app, is the screen after you enter your password. This is the screen where you say "I agree" to the Google Terms of Service. After you click this button, you don't need to click any more buttons. Some requests are made in the background:

[code]

one of these requests "activa

[2022-11-03 23:27] 89z commented on #108
OK I finally made some time to work on this. I tested with this:

[code]

which did what its supposed to do:

[code]

but the device was activated anyway. So this means some other request is making the activation happen. I will probably do more this weekend, if I don't figure it out before then.

[2022-11-05 03:28] 89z commented on #108
Another update. Upon thinking some more, I figure its probably a POST request rather than a GET request. Looking at the remaining options, this one looks good:

[code]

so I tried this:

[code]

which did its job:

[code]

but still, the device is being activated. I will keep trying.

[2022-11-05 03:31] IRGC commented on #108
Device activation done on /checkin ?

[2022-11-05 03:36] 89z commented on #108
It seems that devices have two levels of activation. "level 1" activation happens with `/checkin` request. This allows access to multiple APK and single APK requests for many apps. However some apps like `com.gaana` also require "level 2" activation. If you only do "level 1", then you can only get multiple APK. To get single APK, you also need to do "level 2" activation. Since I have never done "l

[2022-11-05 03:41] IRGC commented on #108
Do you think this is related to com.android.vending version code?  If you change it in user agent it returns split?

[2022-11-05 03:45] 89z commented on #108
this is already documented:

https://github.com/89z/googleplay/blob/918d6e6aae41c4d0bc17159aabd7dd01e8b5d945/play.go#L19-L26

but in addition to `versionCode`, you must have the proper "level 1" or "level 2" activation, otherwise only multiple is available

[2022-11-05 14:16] 89z commented on #108
FYI I am now offering a reward for this problem and other problems:

https://github.com/89z/googleplay#open-problems

I am going to keep working on this myself, but putting the option out there if any interested.

[2022-11-05 16:35] 89z commented on #108
OK, I think I figured it out. By running this command:

[code]

I was able to block these requests:

[code]

which did prevent the "level 2" activation. So it seems the `/fdfe/sync` can be run in addition to (or maybe instead of) the `/checkin` request, to complete "level 2" activation, which allows for single APK request with `com.gaana` and others. I will keep working on this.

[2022-11-05 18:03] 89z commented on #108
OK `/fdfe/sync` uses `X-DFE-Device-ID` as input, and does not return a device ID. So looks like `/fdfe/sync` needs to be sent in addition to `/checkin`. Will keep working.

[2022-11-05 18:06] IRGC commented on #108
can you post here hex string of `/fdfe/sync` request payload?

[2022-11-05 18:19] 89z commented on #108
Below is a dump of the request, using Go string escaping. Note that most of the headers and body can likely be omitted. I am still working on this.

[code]

[2022-11-05 18:22] 89z commented on #108
Below is the request body, using Go string escaping. I cant post the headers at this time, to avoid reuse of any device IDs.

[code]

[2022-11-05 18:45] IRGC commented on #108
`sdk` and `versionCode` are present in the payload.
https://pastebin.com/raw/QyWSMCeg

[2022-11-05 18:51] 89z commented on #108
@IRGC at this point you're no really helping (if you ever were), you're just distracting me now. I know whats in the request body. You realize I wrote my own ProtoBuf parser from scratch right? Unless you have more advanced knowledge than what you've been giving so far, I would ask that you just be quiet for now. I am only posting comments for people to give my progress, or maybe in the hope that

[2022-11-05 19:03] 89z commented on #108
OK since @IRGC has decided to get childish and do downvotes, they are now blocked.

[2022-11-08 03:03] 89z opened #109 "com.twitter.android"
[code]

https://apkmirror.com/apk/twitter-inc/twitter/twitter-9-65-3-release-0-release/twitter-9-65-3-release-0-android-apk-download

[2022-11-08 10:54] 89z commented on #109
https://play.google.com/store/apps/details?id=com.twitter.android

[2022-11-08 12:08] 89z commented on #109
this works:

https://github.com/Juby210/gplayapi-go/blob/b25d0f9e96d90c36962040e97ab3acbeb51ea6bd/devices.go#L18-L57

even with:

[code]

[2022-11-09 02:54] 89z commented on #108
Update. I believe I have captured the correct `/fdfe/sync` request. It seems if you run the normal `/checkin` request, followed by the `/fdfe/sync` request, "level 2" activation is complete, and you are able to use that device for single APK request for `com.gaana` and others. I will work toward adding this to the code here.

[2022-11-09 03:01] 89z commented on #108
Another update. With "level 2" activation, I am able to request `com.gaana`. however for some reason, a split APK is still returned:

[code]

No idea what to do about that. I will try to think of a solution.

[2022-11-09 03:05] 89z commented on #108
ah, I am stupid. All this work, and single APK is not even available:

https://apkmirror.com/apk/gamma-gaana-ltd/gaana-music-hindi-tamil-telugu-mp3-songs-online/gaana-music-hindi-tamil-telugu-mp3-songs-online-8-37-0-release

wow, that is frustrating. Closing for now. If someone has example of APK that is available as single, that my tool cannot get, let me know and I will reopen.

[2022-11-09 12:18] 89z commented on #108
I just realized, that previously I had been looking at this quote [1]:

but I did not notice this one [2]:

The device I have been testing with is a version 7, so its possible that trying with version 6 will allow a single APK. Its a longshot, but I will reopen until I can test again. I should know today, as I don't even need to MITM, just a normal run with Android Studio or GenyMotion should do t

[2022-11-09 19:56] NazariiStrohush opened #110 "panic: open /Users/user/googleplay/x86.bin: no such file or directory"
Hi! I'm using Macbook M1 and trying to get info and download apps.
<img width="862" alt="image" src="https://user-images.githubusercontent.com/17307937/200928433-118d33b8-2ab8-42f9-b40c-04fc69b1c51a.png">

[2022-11-09 20:04] #110 closed

[2022-11-09 20:04] NazariiStrohush commented on #110
Thanks a lot!

[2022-11-09 20:23] NazariiStrohush opened #111 "Can I only get urls to do manual download by myself?"
Hi! I'm going to use this amazing package in NODE.js server from the console.
Can I only use it to only print **GET** URLs to download? I want to download packages by myself

[2022-11-09 22:17] 89z commented on #106
https://github.com/89z/googleplay/issues/110

[2022-11-09 22:18] 89z commented on #110
@iamDonkey I charge for support:

https://github.com/89z/googleplay#money

so unless you want to sponsor me, I suggest you don't do that again. You've been warned.

[2022-11-09 22:20] 89z commented on #111
https://github.com/89z/googleplay#money

[2022-11-09 22:20] #111 closed

[2022-11-10 00:46] Hainish opened #112 "Getting exception trying to create token file for account"
I'm getting an exception when trying to create token file for the account with the credentials you sent me (relates to https://github.com/EFForg/apkeep/issues/9)

[code]

[2022-11-10 00:49] Hainish opened #113 "Getting exception trying to create token for account"
I'm getting an exception when trying to create token for the account with the credentials you sent me (relates to https://github.com/EFForg/apkeep/issues/9)

[code]

[2022-11-10 00:58] 89z commented on #112
I usually only provide paid support [1], but given the circumstance I am going to allow this one. Using current master, I get expected result:

[code]

Note also as mentioned on the main page [2]:

If you're trying the account I sent you, I don't think I ever did that. So you will need to complete those steps first.

1. https://github.com/89z/googleplay#money
2. https://github.com/89z/googleplay#t

[2022-11-10 14:01] 89z opened #114 "Request for help"
Currently my tool does not accept the Google Play terms and conditions for the user, meaning if a user has a newly created Google account, they need to take an extra step. Using a physical or virtual Android device, they need to log into the Play Store at least once. Then my tool should work as expected.

This extra step is causing confusion. I am willing to code this step, but I need help from so

[2022-11-10 14:01] 89z commented on #114
https://github.com/89z/googleplay/issues/112

[2022-11-10 14:01] 89z commented on #112
https://github.com/89z/googleplay/issues/114

[2022-11-11 17:47] 89z commented on #114
User from above comment never followed up, so still need help with this

[2022-11-12 14:15] 89z commented on #114
OK above user provided 7 new accounts. However all accounts worked without any tool modification. So it seems the problem is related to the country. All accounts tests so far were US, so if someone has other country, I can try it.

[2022-11-12 14:22] 89z commented on #112
looks like Google blocked you. From that email inbox:

so you need to get your own account somehow for testing.

[2022-11-12 14:27] 89z commented on #114
OK above user provided 7 new accounts. However all accounts worked without any tool modification. I also tried one of my old personal accounts, which does trigger an error. However I need more than one "bad" account if I am to make an implementation. So further accounts are needed for testing if anyone has them.

[2022-11-15 02:01] #112 closed

[2022-11-17 03:01] 89z opened #115 "Can't login to Google account"
`https://github.com/EFForg/apkeep/issues/9`

[2022-11-17 03:03] 89z commented on #115
fixed:

[code]

[2022-11-17 03:03] #115 closed

[2022-11-17 03:03] wxolp commented on #115
https://github.com/EFForg/apkeep/issues/9

[2022-11-17 03:07] 89z commented on #115
@Anonymous2716

[2022-11-17 03:26] Anonymous2716 commented on #115
@89z okay I will try and give feedback.

[2022-11-19 16:21] 89z commented on #115
@cohosh

[2022-11-20 00:50] 89z opened #116 "appCategory value not coming"
https://github.com/onyxbits/raccoon4/issues/115

[2022-11-20 00:51] 89z commented on #116
fixed:

https://github.com/89z/googleplay/blob/3b3a9e07957f0d8988158f9ddb0b1d157d75d344/get_items.go#L15-L17

[2022-11-20 00:51] #116 closed

[2022-11-20 00:52] 89z commented on #116
@Arshit007

[2022-11-21 14:56] Arshit007 commented on #116
Can you send the python code for the same or curl command?

[2022-11-21 15:03] 89z commented on #116
I can send Go code, but not Python or cURL command.

[2022-11-22 01:30] #33 closed

[2022-11-22 01:30] 89z opened #117 "System apps fail with `/fdfe/details`"
[code]

`/fdfe/delivery` works fine, if you somehow know the `versionCode`:

[code]

<https://bugzilla.mozilla.org/show_bug.cgi?id=1780817>

this one too:

[code]

again, `/fdfe/delivery` works, if you know a valid number:

[code]

[2022-11-22 11:01] NazariiStrohush opened #118 "Error "panic: your device isn't compatible with this version""
```./googleplay -a com.dxm.nopuzzle```

<img width="514" alt="image" src="https://user-images.githubusercontent.com/17307937/203297751-25f02b9b-8b0e-4272-a76b-e6fed85353b5.png">

What am I doing wrong?

[2022-11-22 12:10] 89z commented on #118
https://github.com/89z/googleplay#money

[2022-11-22 12:10] #118 closed